In [1]:
import psycopg2 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DateTime
import pandas as pd
import psycopg2

In [2]:
engine = create_engine('postgresql://postgres:akudoni29@resident-db.c9e0qoe2scqz.ap-southeast-2.rds.amazonaws.com:5432/sampleDB')
with engine.connect() as conn:
    print("Connection successful")

Connection successful

In [3]:
df_resident_info = pd.read_csv('df_info.csv')
df_resident_info

                res_id  age sex  phone_number marital_status
0    202203A1401484221   31   f   81710322699          kawin
1    202203B1902780908   30   f   81285210057          kawin
2    202303C1201119547   39   m   85218469647     cerai mati
3     202403D302160049   30   m   82139816931          kawin
4     202203C101563316   25   f   82119094223    belum kawin
..                 ...  ...  ..           ...            ...
784   202306C601771793   35   f   81715507531          kawin
785  202206F1501125594   44   m   82117929241          kawin
786  202306A1001204032   25   f   85682060265    belum kawin
787  202206B1401296048   27   m   81254954600    belum kawin
788  202306D1402203158   40   m   81733404074          kawin

[789 rows x 5 columns]

In [4]:
df_resident_info = df_resident_info.drop(columns='phone_number')

In [7]:
with engine.begin() as conn:
    df_resident_info.to_sql(name='resident_info', schema='public', con=engine, if_exists='append', index=False, method=None)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "resident_info_pkey"
DETAIL:  Key (res_id)=(2) already exists.

[SQL: INSERT INTO public.resident_info (res_id, age, sex, marital_status) VALUES (%(res_id__0)s, %(age__0)s, %(sex__0)s, %(marital_status__0)s), (%(res_id__1)s, %(age__1)s, %(sex__1)s, %(marital_status__1)s), (%(res_id__2)s, %(age__2)s, %(sex__2)s, %(marit ... 56091 characters truncated ... )s, %(marital_status__787)s), (%(res_id__788)s, %(age__788)s, %(sex__788)s, %(marital_status__788)s)]
[parameters: {'marital_status__0': 'kawin', 'res_id__0': '202203A1401484221', 'age__0': 31, 'sex__0': 'f', 'marital_status__1': 'kawin', 'res_id__1': '202203B1902780908', 'age__1': 30, 'sex__1': 'f', 'marital_status__2': 'cerai mati', 'res_id__2': '202303C1201119547', 'age__2': 39, 'sex__2': 'm', 'marital_status__3': 'kawin', 'res_id__3': '202403D302160049', 'age__3': 30, 'sex__3': 'm', 'marital_status__4': 'belum kawin', 'res_id__4': '202203C101563316', 'age__4': 25, 'sex__4': 'f', 'marital_status__5': 'kawin', 'res_id__5': '202203G1201179026', 'age__5': 30, 'sex__5': 'm', 'marital_status__6': 'belum kawin', 'res_id__6': '202303H1201633496', 'age__6': 25, 'sex__6': 'm', 'marital_status__7': 'kawin', 'res_id__7': '202203G1501690987', 'age__7': 26, 'sex__7': 'm', 'marital_status__8': 'kawin', 'res_id__8': '202403D2501171004', 'age__8': 33, 'sex__8': 'm', 'marital_status__9': 'kawin', 'res_id__9': '202303G1101892420', 'age__9': 28, 'sex__9': 'm', 'marital_status__10': 'kawin', 'res_id__10': '202403B2001196382', 'age__10': 35, 'sex__10': 'm', 'marital_status__11': 'cerai mati', 'res_id__11': '202303D802517421', 'age__11': 41, 'sex__11': 'f', 'marital_status__12': 'kawin', 'res_id__12': '202303H2501280011' ... 3056 parameters truncated ... 'age__776': 32, 'sex__776': 'm', 'marital_status__777': 'kawin', 'res_id__777': '202206E301202951', 'age__777': 31, 'sex__777': 'm', 'marital_status__778': 'cerai hidup', 'res_id__778': '202206C1301284351', 'age__778': 37, 'sex__778': 'f', 'marital_status__779': 'kawin', 'res_id__779': '202406A401298954', 'age__779': 45, 'sex__779': 'm', 'marital_status__780': 'kawin', 'res_id__780': '202306F701120139', 'age__780': 30, 'sex__780': 'f', 'marital_status__781': 'kawin', 'res_id__781': '202406A102244727', 'age__781': 38, 'sex__781': 'm', 'marital_status__782': 'cerai hidup', 'res_id__782': '202306F1601599036', 'age__782': 41, 'sex__782': 'f', 'marital_status__783': 'kawin', 'res_id__783': '202206B701220346', 'age__783': 45, 'sex__783': 'm', 'marital_status__784': 'kawin', 'res_id__784': '202306C601771793', 'age__784': 35, 'sex__784': 'f', 'marital_status__785': 'kawin', 'res_id__785': '202206F1501125594', 'age__785': 44, 'sex__785': 'm', 'marital_status__786': 'belum kawin', 'res_id__786': '202306A1001204032', 'age__786': 25, 'sex__786': 'f', 'marital_status__787': 'belum kawin', 'res_id__787': '202206B1401296048', 'age__787': 27, 'sex__787': 'm', 'marital_status__788': 'kawin', 'res_id__788': '202306D1402203158', 'age__788': 40, 'sex__788': 'm'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [28]:
conn = psycopg2.connect(database="sampleDB",
                        user='postgres',
                        password='akudoni29',
                        host='resident-db.c9e0qoe2scqz.ap-southeast-2.rds.amazonaws.com',
                        port='5432')

In [29]:
cur = conn.cursor()
for index, row in df_resident_info.iterrows():
    cur.execute("INSERT INTO resident_info (res_id, age, sex, marital_status) VALUES (%s, %s, %s, %s)", (row['res_id'], row['age'], row['sex'], row['marital_status']))
    
conn.commit()
conn.close()

UniqueViolation: duplicate key value violates unique constraint "resident_info_pkey"
DETAIL:  Key (res_id)=(2) already exists.