In [3]:
import numpy as np
import pandas as pd
import random
import uuid

# Blok name generator

In [ ]:
cluster = ['Kemayoran','Menteng', 'Ancol', 'Darmawangsa', 'Senayan', 'Thamrin' ]
cluster_code = ['01','02','03','04','05','06']
blok = ['A', 'B', 'C', 'D', 'E', 'F']#, 'G']#, 'H']
nomor_A = [str(i) for i in range(1,21)]
nomor_B = [str(i) for i in range(1,19)]
nomor_C = [str(i) for i in range(1,15)]
nomor_D = [str(i) for i in range(1,30)]
nomor_E = [str(i) for i in range(1,22)]
nomor_F = [str(i) for i in range(1,18)]
#nomor_G = [str(i) for i in range(1,19)]
#nomor_H = [str(i) for i in range(1,26)]

In [ ]:
blk_gabung_thamrin = []
for nomor in nomor_A:
  blk_gabung_thamrin.append(blok[0]+nomor)

for nomor in nomor_B:
  blk_gabung_thamrin.append(blok[1]+nomor)

for nomor in nomor_C:
  blk_gabung_thamrin.append(blok[2]+nomor)

for nomor in nomor_D:
  blk_gabung_thamrin.append(blok[3]+nomor)

for nomor in nomor_E:
  blk_gabung_thamrin.append(blok[4]+nomor)

for nomor in nomor_F:
  blk_gabung_thamrin.append(blok[5]+nomor)

#for nomor in nomor_G:
  #blk_gabung_thamrin.append(blok[6]+nomor)

#for nomor in nomor_H:
  #blk_gabung_senayan.append(blok[7]+nomor)

In [ ]:
import random
acak_thamrin = blk_gabung_thamrin
random.shuffle(acak_thamrin)
#acak_thamrin

['C2',
 'D29',
 'E17',
 'E9',
 'A2',
 'A6',
 'A5',
 'D7',
 'C1',
 'E6',
 'B9',
 'E16',
 'A15',
 'D10',
 'A11',
 'E13',
 'B4',
 'F8',
 'D27',
 'E18',
 'D18',
 'D15',
 'E14',
 'B11',
 'C8',
 'A7',
 'D13',
 'F12',
 'D12',
 'E19',
 'A3',
 'D20',
 'E1',
 'E15',
 'C5',
 'E2',
 'C4',
 'D8',
 'E7',
 'D5',
 'A8',
 'B17',
 'D26',
 'A12',
 'C9',
 'A13',
 'D23',
 'A9',
 'A20',
 'F9',
 'F11',
 'E12',
 'B15',
 'D11',
 'E21',
 'E11',
 'B13',
 'E10',
 'A17',
 'A16',
 'E20',
 'C14',
 'D25',
 'D1',
 'B12',
 'F3',
 'D16',
 'C12',
 'F5',
 'B8',
 'F10',
 'B6',
 'B5',
 'F1',
 'A14',
 'B2',
 'D2',
 'F13',
 'A19',
 'C3',
 'E8',
 'D28',
 'F4',
 'C7',
 'C10',
 'B16',
 'C11',
 'D22',
 'D9',
 'A18',
 'D3',
 'D19',
 'D24',
 'B3',
 'E4',
 'D6',
 'F2',
 'B18',
 'B10',
 'E5',
 'F6',
 'D4',
 'B1',
 'D17',
 'D21',
 'F17',
 'F14',
 'E3',
 'C13',
 'A4',
 'F7',
 'A1',
 'F16',
 'B7',
 'C6',
 'F15',
 'A10',
 'B14',
 'D14']

In [ ]:
len(acak_thamrin)

119

In [ ]:
df_nama = pd.read_csv('indonesian-names.csv')
df_nama

                             name gender
0                 hafizhan shidqi      m
1                   gandhi wibowo      m
2     aldio mahendra purwandrarto      m
3                     benny putra      m
4            vicky vernando dasta      m
...                           ...    ...
1955                      hadimah      f
1956          aprillia rahma wati      f
1957        muhamad khoirunisa. m      m
1958                      sukandi      m
1959                          eem      f

[1960 rows x 2 columns]

In [ ]:
nama_thamrin = df_nama['name'][675:794]
gender_thamrin = df_nama['gender'][675:794]
np.array(nama_thamrin)
np.array(gender_thamrin)

array(['f', 'f', 'm', 'f', 'm', 'm', 'f', 'f', 'm', 'f', 'm', 'm', 'f',
       'f', 'm', 'f', 'f', 'm', 'm', 'f', 'm', 'm', 'f', 'f', 'm', 'f',
       'f', 'f', 'f', 'm', 'f', 'f', 'f', 'm', 'f', 'm', 'm', 'm', 'f',
       'f', 'm', 'f', 'm', 'm', 'm', 'f', 'f', 'f', 'm', 'm', 'f', 'm',
       'f', 'm', 'f', 'f', 'm', 'f', 'f', 'f', 'm', 'f', 'm', 'm', 'm',
       'f', 'm', 'f', 'm', 'm', 'm', 'm', 'f', 'm', 'm', 'f', 'm', 'm',
       'f', 'm', 'm', 'f', 'm', 'f', 'f', 'm', 'm', 'f', 'm', 'f', 'm',
       'f', 'f', 'm', 'f', 'f', 'f', 'm', 'f', 'm', 'm', 'f', 'm', 'f',
       'm', 'f', 'm', 'm', 'f', 'm', 'f', 'm', 'f', 'm', 'f', 'm', 'f',
       'm', 'm'], dtype=object)

In [ ]:
np.array(gender_thamrin).shape

(119,)

In [ ]:
cluster_thamrin = np.array([cluster[5]]*119)
cluster_thamrin

array(['Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin',
       'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin', 'Thamrin'], dtype='<U7')

In [ ]:
res_thamrin= np.c_[nama_thamrin, gender_thamrin, acak_thamrin, cluster_thamrin]
res_thamrin

array([['nadhirotul khusniah', 'f', 'C2', 'Thamrin'],
       ['dewi masitoh', 'f', 'D29', 'Thamrin'],
       ['ach. moehaimin alwi', 'm', 'E17', 'Thamrin'],
       ['siti aisyah', 'f', 'E9', 'Thamrin'],
       ['muhammad faizin alwi', 'm', 'A2', 'Thamrin'],
       ['sarno', 'm', 'A6', 'Thamrin'],
       ['giyem', 'f', 'A5', 'Thamrin'],
       ['siti khasanah', 'f', 'D7', 'Thamrin'],
       ['andrianto', 'm', 'C1', 'Thamrin'],
       ['tri purwanti', 'f', 'E6', 'Thamrin'],
       ['fajri syahdan naufal', 'm', 'B9', 'Thamrin'],
       ['wahidi', 'm', 'E16', 'Thamrin'],
       ['jasiah', 'f', 'A15', 'Thamrin'],
       ['eliyuswisnawaty', 'f', 'D10', 'Thamrin'],
       ['sukijan', 'm', 'A11', 'Thamrin'],
       ['sudarmi', 'f', 'E13', 'Thamrin'],
       ['siti zaenap', 'f', 'B4', 'Thamrin'],
       ['sodikin', 'm', 'F8', 'Thamrin'],
       ["mas' ud", 'm', 'D27', 'Thamrin'],
       ['sutinem', 'f', 'E18', 'Thamrin'],
       ["ahmad safi'i", 'm', 'D18', 'Thamrin'],
       ['habibi nurrohim', 'm', 'D15', 'Thamrin'],
       ['sulasikin nasukah', 'f', 'E14', 'Thamrin'],
       ['jamilatun azizah', 'f', 'B11', 'Thamrin'],
       ['suparlan', 'm', 'C8', 'Thamrin'],
       ['sulastri', 'f', 'A7', 'Thamrin'],
       ['widyo wati', 'f', 'D13', 'Thamrin'],
       ['wiwit widia wati', 'f', 'F12', 'Thamrin'],
       ['wulandari', 'f', 'D12', 'Thamrin'],
       ['kirno yudi', 'm', 'E19', 'Thamrin'],
       ['lilik mujiati', 'f', 'A3', 'Thamrin'],
       ['shofiyyatun dzakiroh', 'f', 'D20', 'Thamrin'],
       ['wulan maratussholikha', 'f', 'E1', 'Thamrin'],
       ['aris tiono', 'm', 'E15', 'Thamrin'],
       ['sitti julaeha', 'f', 'C5', 'Thamrin'],
       ['ibnu mirza hamizan alfaeyza', 'm', 'E2', 'Thamrin'],
       ['apri hantoro', 'm', 'C4', 'Thamrin'],
       ['suratman', 'm', 'D8', 'Thamrin'],
       ['mucharomatun', 'f', 'E7', 'Thamrin'],
       ['rensy herwinda', 'f', 'D5', 'Thamrin'],
       ['sukarmin', 'm', 'A8', 'Thamrin'],
       ['saniri', 'f', 'B17', 'Thamrin'],
       ['firda ramadan', 'm', 'D26', 'Thamrin'],
       ['fauzi hidayat', 'm', 'A12', 'Thamrin'],
       ['ahmad suyadi', 'm', 'C9', 'Thamrin'],
       ['nuriah', 'f', 'A13', 'Thamrin'],
       ['irma lestari', 'f', 'D23', 'Thamrin'],
       ['nur kholifah', 'f', 'A9', 'Thamrin'],
       ['muhammad abdul rohman', 'm', 'A20', 'Thamrin'],
       ['yendra putra', 'm', 'F9', 'Thamrin'],
       ['reni sriyati', 'f', 'F11', 'Thamrin'],
       ['rudi saputra', 'm', 'E12', 'Thamrin'],
       ['ervi lidya wati', 'f', 'B15', 'Thamrin'],
       ['agus setiawan', 'm', 'D11', 'Thamrin'],
       ['tesa rismiani', 'f', 'E21', 'Thamrin'],
       ['ellenna yuliani putri. s', 'f', 'E11', 'Thamrin'],
       ['saiman', 'm', 'B13', 'Thamrin'],
       ['surti', 'f', 'E10', 'Thamrin'],
       ['pirawati', 'f', 'A17', 'Thamrin'],
       ['triani', 'f', 'A16', 'Thamrin'],
       ['darma sahputra', 'm', 'E20', 'Thamrin'],
       ['supriani', 'f', 'C14', 'Thamrin'],
       ['rhamasya damar', 'm', 'D25', 'Thamrin'],
       ['supratman', 'm', 'D1', 'Thamrin'],
       ['nanang mujahid', 'm', 'B12', 'Thamrin'],
       ['siti imaroh', 'f', 'F3', 'Thamrin'],
       ['rizal kurniawan', 'm', 'D16', 'Thamrin'],
       ['nur laila', 'f', 'C12', 'Thamrin'],
       ['hamdan muzakir', 'm', 'F5', 'Thamrin'],
       ['hadi mardiansah', 'm', 'B8', 'Thamrin'],
       ['aziz', 'm', 'F10', 'Thamrin'],
       ['suyoto', 'm', 'B6', 'Thamrin'],
       ['binar', 'f', 'B5', 'Thamrin'],
       ['alek susanto', 'm', 'F1', 'Thamrin'],
       ['aris setianto', 'm', 'A14', 'Thamrin'],
       ['siti zaenab', 'f', 'B2', 'Thamrin'],
       ['teguh adi wijaya', 'm', 'D2', 'Thamrin'],
       ['suwarmin', 'm', 'F13', 'Thamrin'],
       ['wulandari', 'f', 'A19', 'Thamrin'],
       ['iqbal akbar ghofur', 'm', 'C3', 'Thamrin'],
       ['mardani satra', 'm', 'E8', 'Thamrin'],
       ['fitria wulandari', 'f', 'D28', 'Thamrin'],
       ['bastiur', 'm', 'F4', 'Thamrin'],
       ['endah susanti', 'f', 'C7', 'Thamrin'],
       ['olivvia febby santika', 'f', 'C10', 'Thamrin'],
       ['al hakim januario barens', 'm', 'B16', 'Thamrin'],
       ['amal fatullah', 'm', 'C11', 'Thamrin'],
       ['ayu kusmini', 'f', 'D22', 'Thamrin'],
       ['yusman', 'm', 'D9', 'Thamrin'],
       ['alfia santi sahputri', 'f', 'A18', 'Thamrin'],
       ['waluyo', 'm', 'D3', 'Thamrin'],
       ['nuraini', 'f', 'D19', 'Thamrin'],
       ['madha leli', 'f', 'D24', 'Thamrin'],
       ['rudianto', 'm', 'B3', 'Thamrin'],
       ['istiani', 'f', 'E4', 'Thamrin'],
       ['vega miftaqul rizka', 'f', 'D6', 'Thamrin'],
       ['meilany putri sakinah', 'f', 'F2', 'Thamrin'],
       ['akbar rizki saputra', 'm', 'B18', 'Thamrin'],
       ['safira cantika fitriani', 'f', 'B10', 'Thamrin'],
       ['slamet teguh santoso', 'm', 'E5', 'Thamrin'],
       ['solehan', 'm', 'F6', 'Thamrin'],
       ['komsidah', 'f', 'D4', 'Thamrin'],
       ['yuli adi putra', 'm', 'B1', 'Thamrin'],
       ['ria rasela', 'f', 'D17', 'Thamrin'],
       ['solehan', 'm', 'D21', 'Thamrin'],
       ['suryani', 'f', 'F17', 'Thamrin'],
       ["muhammad ahsanul mubtadi'in", 'm', 'F14', 'Thamrin'],
       ['muhammad rifki irawan', 'm', 'E3', 'Thamrin'],
       ['intan nurul aini', 'f', 'C13', 'Thamrin'],
       ['sarno', 'm', 'A4', 'Thamrin'],
       ['rubini', 'f', 'F7', 'Thamrin'],
       ['pursito', 'm', 'A1', 'Thamrin'],
       ['rita fitri mulyasih', 'f', 'F16', 'Thamrin'],
       ['saikun', 'm', 'B7', 'Thamrin'],
       ['sutiti', 'f', 'C6', 'Thamrin'],
       ['jefri setiadi', 'm', 'F15', 'Thamrin'],
       ['dwi maryani', 'f', 'A10', 'Thamrin'],
       ['krisno tri widodo', 'm', 'B14', 'Thamrin'],
       ['katiman', 'm', 'D14', 'Thamrin']], dtype=object)

In [ ]:
df_thamrin = pd.DataFrame(res_thamrin, columns=['Name','Gender','Block','Cluster'])
df_thamrin

                     Name Gender Block  Cluster
0     nadhirotul khusniah      f    C2  Thamrin
1            dewi masitoh      f   D29  Thamrin
2     ach. moehaimin alwi      m   E17  Thamrin
3             siti aisyah      f    E9  Thamrin
4    muhammad faizin alwi      m    A2  Thamrin
..                    ...    ...   ...      ...
114                sutiti      f    C6  Thamrin
115         jefri setiadi      m   F15  Thamrin
116           dwi maryani      f   A10  Thamrin
117     krisno tri widodo      m   B14  Thamrin
118               katiman      m   D14  Thamrin

[119 rows x 4 columns]

In [ ]:
df_thamrin.to_csv('thamrin.csv', index=False)

# Create resident block data

In [2]:
ancol = pd.read_csv('ancol.csv')
darma = pd.read_csv('darmawangsa.csv')
kemayoran = pd.read_csv('kemayoran.csv')
menteng = pd.read_csv('menteng.csv')
senayan = pd.read_csv('senayan.csv')
thamrin = pd.read_csv('thamrin.csv')

In [3]:
df_resident = pd.concat([ancol, darma, kemayoran, menteng, senayan, thamrin], ignore_index=True)
df_resident

                   Name Gender Block  Cluster
0            ridha ulva      f   A14    Ancol
1    rizqi wahyuningsih      f   B19    Ancol
2        ruwadi saputra      m   C12    Ancol
3       sugeng hermawan      m    D3    Ancol
4              suliatun      f    C1    Ancol
..                  ...    ...   ...      ...
784              sutiti      f    C6  Thamrin
785       jefri setiadi      m   F15  Thamrin
786         dwi maryani      f   A10  Thamrin
787   krisno tri widodo      m   B14  Thamrin
788             katiman      m   D14  Thamrin

[789 rows x 4 columns]

In [4]:
rumah = ['Owner','Rent']
own_status_code = ['01','02']

cluster = ['Kemayoran','Menteng', 'Ancol', 'Darmawangsa', 'Senayan', 'Thamrin' ]
cluster_code = ['01','02','03','04','05','06']

In [5]:
# add year of inhabited
tahun = [2022, 2023, 2024]
tmp_year = random.choices(tahun, weights=[316, 166, 307], k=789)

#add rent category
tmp_own = random.choices(rumah, weights=[671, 118], k=789)

# add year_of_inhabited & own_status
df_resident['year_of_inhabited'] = tmp_year
df_resident['own_status'] = tmp_own

In [ ]:
df_resident

                   Name Gender Block  Cluster  year_of_inhabited own_status
0            ridha ulva      f   A14    Ancol               2022      Owner
1    rizqi wahyuningsih      f   B19    Ancol               2022       Rent
2        ruwadi saputra      m   C12    Ancol               2023      Owner
3       sugeng hermawan      m    D3    Ancol               2024       Rent
4              suliatun      f    C1    Ancol               2022      Owner
..                  ...    ...   ...      ...                ...        ...
784              sutiti      f    C6  Thamrin               2023      Owner
785       jefri setiadi      m   F15  Thamrin               2022      Owner
786         dwi maryani      f   A10  Thamrin               2023      Owner
787   krisno tri widodo      m   B14  Thamrin               2022      Owner
788             katiman      m   D14  Thamrin               2023       Rent

[789 rows x 6 columns]

In [ ]:
df_resident_list = df_resident.values.tolist()

In [ ]:
df_resident_list

[['ridha ulva', 'f', 'A14', 'Ancol', 2022, 'Owner'],
 ['rizqi wahyuningsih', 'f', 'B19', 'Ancol', 2022, 'Rent'],
 ['ruwadi saputra', 'm', 'C12', 'Ancol', 2023, 'Owner'],
 ['sugeng hermawan', 'm', 'D3', 'Ancol', 2024, 'Rent'],
 ['suliatun', 'f', 'C1', 'Ancol', 2022, 'Owner'],
 ['tomi ismeidianto', 'm', 'G12', 'Ancol', 2022, 'Owner'],
 ['usthalay putra', 'm', 'H12', 'Ancol', 2023, 'Owner'],
 ['winggo aga septian', 'm', 'G15', 'Ancol', 2022, 'Owner'],
 ['yunaldi rizki putra', 'm', 'D25', 'Ancol', 2024, 'Owner'],
 ['arif fasetyo', 'm', 'G11', 'Ancol', 2023, 'Owner'],
 ['arie rahman satria', 'm', 'B20', 'Ancol', 2024, 'Owner'],
 ['arinda oktaviana', 'f', 'D8', 'Ancol', 2023, 'Rent'],
 ['asri jakawendra', 'm', 'H25', 'Ancol', 2023, 'Owner'],
 ['astri stiawaty', 'm', 'H1', 'Ancol', 2023, 'Owner'],
 ['aszani', 'f', 'F1', 'Ancol', 2022, 'Owner'],
 ['boby rahman', 'm', 'A16', 'Ancol', 2022, 'Owner'],
 ['dewi cahyati', 'f', 'D18', 'Ancol', 2022, 'Owner'],
 ['dimas aditya perdana', 'm', 'C4', 'Ancol', 2023, 'Owner'],
 ['dinda afani', 'f', 'C8', 'Ancol', 2023, 'Rent'],
 ['doni sanjaya', 'm', 'B11', 'Ancol', 2024, 'Owner'],
 ['fitri yanti', 'f', 'D27', 'Ancol', 2024, 'Owner'],
 ['hendri eka saputra', 'm', 'A5', 'Ancol', 2022, 'Owner'],
 ['irwan ahmad gafur', 'm', 'B17', 'Ancol', 2024, 'Owner'],
 ['isa ismail', 'm', 'D6', 'Ancol', 2022, 'Owner'],
 ['kurniawan rosman a', 'm', 'A9', 'Ancol', 2023, 'Owner'],
 ['muhammad azmy', 'm', 'F5', 'Ancol', 2022, 'Owner'],
 ['muhammad ilham', 'm', 'E4', 'Ancol', 2022, 'Owner'],
 ['muhammad sholihan', 'm', 'B4', 'Ancol', 2024, 'Owner'],
 ['novita dewi', 'f', 'H21', 'Ancol', 2024, 'Owner'],
 ['novri sabli saputra', 'm', 'D24', 'Ancol', 2024, 'Owner'],
 ['pajar bahari', 'm', 'D12', 'Ancol', 2023, 'Owner'],
 ['redha fauziah aziz', 'f', 'G16', 'Ancol', 2024, 'Owner'],
 ['ridho', 'm', 'D11', 'Ancol', 2024, 'Owner'],
 ['ridho fajri', 'm', 'G9', 'Ancol', 2024, 'Owner'],
 ['ridho rismayanda', 'm', 'H23', 'Ancol', 2022, 'Rent'],
 ['ridwan candra', 'm', 'A10', 'Ancol', 2022, 'Owner'],
 ['rosdina', 'f', 'H3', 'Ancol', 2023, 'Owner'],
 ['supriadi', 'm', 'G6', 'Ancol', 2023, 'Owner'],
 ['suriyani', 'f', 'E5', 'Ancol', 2022, 'Owner'],
 ['tommy zul hidayat', 'm', 'B16', 'Ancol', 2022, 'Owner'],
 ['umi riyani', 'f', 'D13', 'Ancol', 2022, 'Owner'],
 ['wiwik sumarmi', 'f', 'D1', 'Ancol', 2022, 'Owner'],
 ['yuni dwi hastuti', 'f', 'H5', 'Ancol', 2023, 'Owner'],
 ['aulia rahman', 'm', 'B9', 'Ancol', 2022, 'Owner'],
 ['agung kurniawan', 'm', 'A12', 'Ancol', 2022, 'Owner'],
 ['ahmad fauzi paturusi', 'm', 'A7', 'Ancol', 2024, 'Owner'],
 ['arie biola gunti masuko', 'm', 'H20', 'Ancol', 2024, 'Owner'],
 ['ayu andira', 'f', 'F9', 'Ancol', 2022, 'Owner'],
 ['ayu dwi septiana arta', 'f', 'H22', 'Ancol', 2024, 'Owner'],
 ['azwar anas', 'm', 'H15', 'Ancol', 2022, 'Rent'],
 ['azwir irfan nanda', 'm', 'D14', 'Ancol', 2022, 'Owner'],
 ['budi setiawan', 'm', 'E9', 'Ancol', 2024, 'Owner'],
 ['donna febriani', 'f', 'C13', 'Ancol', 2023, 'Owner'],
 ['dwi widiastuti', 'f', 'B5', 'Ancol', 2022, 'Owner'],
 ['dwiki apsyarin', 'm', 'E3', 'Ancol', 2024, 'Rent'],
 ['dwiza indri', 'm', 'C7', 'Ancol', 2022, 'Owner'],
 ['frans b jaya zalukhu', 'm', 'B21', 'Ancol', 2023, 'Owner'],
 ['fuad harisfa', 'm', 'F2', 'Ancol', 2024, 'Owner'],
 ['herman efendi', 'm', 'H14', 'Ancol', 2024, 'Rent'],
 ['ichsyan rizky adi p', 'm', 'D15', 'Ancol', 2023, 'Owner'],
 ['ivo oktavianti', 'f', 'C10', 'Ancol', 2022, 'Owner'],
 ['lailatul izzati', 'f', 'C16', 'Ancol', 2024, 'Owner'],
 ['muhammad oki', 'm', 'C14', 'Ancol', 2024, 'Rent'],
 ['muhammad ridho ardonis', 'm', 'H6', 'Ancol', 2023, 'Owner'],
 ['muhammad rizqi muttaqin', 'm', 'D22', 'Ancol', 2024, 'Owner'],
 ['muhammad setyo', 'm', 'D2', 'Ancol', 2022, 'Owner'],
 ['nur aulia hasanah', 'f', 'H7', 'Ancol', 2022, 'Rent'],
 ['nurfatrianti', 'f', 'D16', 'Ancol', 2024, 'Owner'],
 ['pikril islami', 'm', 'A15', 'Ancol', 2023, 'Rent'],
 ['rikal', 'm', 'A3', 'Ancol', 2024, 'Owner'],
 ['riyan hidayat', 'm', 'A13', 'Ancol', 2022, 'Owner'],
 ['rizki fatama', 'm', 'H10', 'Ancol', 2023, 'Rent'],
 ['rizkie hafizzah', 'f', 'G4', 'Ancol', 2024, 'Rent'],
 ['syaiful akbar', 'm', 'A1', 'Ancol', 2024, 'Owner'],
 ["nu' in sofyan", 'm', 'B3', 'Ancol', 2024, 'Rent'],
 ['sumirah', 'm', 'C15', 'Ancol', 2024, 'Owner'],
 ['ade surahman', 'm', 'C6', 'Ancol', 2022, 'Rent'],
 ['kasnanto', 'm', 'B8', 'Ancol', 2023, 'Owner'],
 ['sumirah', 'm', 'F4', 'Ancol', 2023, 'Owner'],
 ['teguh wahyudi', 'm', 'H16', 'Ancol', 2022, 'Owner'],
 ['sakiyo', 'm', 'D7', 'Ancol', 2022, 'Owner'],
 ['dwi kasmini', 'm', 'B1', 'Ancol', 2022, 'Owner'],
 ['laily mufarokah', 'm', 'B23', 'Ancol', 2022, 'Owner'],
 ['sigit nugroho', 'm', 'B10', 'Ancol', 2024, 'Owner'],
 ['linda rusmi wardani', 'm', 'B13', 'Ancol', 2022, 'Rent'],
 ['m. charly iman nugroho', 'm', 'F15', 'Ancol', 2024, 'Owner'],
 ['untung sugiono', 'm', 'C17', 'Ancol', 2022, 'Owner'],
 ['sarminah', 'm', 'B2', 'Ancol', 2022, 'Owner'],
 ['wiwik purwanti', 'm', 'A8', 'Ancol', 2024, 'Owner'],
 ['saputra', 'm', 'H2', 'Ancol', 2022, 'Rent'],
 ['sufiyani', 'f', 'H4', 'Ancol', 2024, 'Owner'],
 ['zenika pradea', 'f', 'E8', 'Ancol', 2023, 'Owner'],
 ['adelia agustin', 'f', 'F13', 'Ancol', 2023, 'Rent'],
 ['desi aulia rahma', 'f', 'B15', 'Ancol', 2024, 'Owner'],
 ['muhammad fajar maulana', 'm', 'D5', 'Ancol', 2022, 'Owner'],
 ['muliadi', 'm', 'D20', 'Ancol', 2022, 'Owner'],
 ['nuriyati', 'f', 'F6', 'Ancol', 2022, 'Owner'],
 ['andreyan saputra', 'm', 'H18', 'Ancol', 2022, 'Rent'],
 ['afrianda', 'm', 'H9', 'Ancol', 2022, 'Owner'],
 ['surya ramadani', 'm', 'A2', 'Ancol', 2022, 'Owner'],
 ['suhendri', 'm', 'B12', 'Ancol', 2024, 'Owner'],
 ['dewi wulan sari', 'f', 'H19', 'Ancol', 2022, 'Owner'],
 ['reza andika ramadhan', 'm', 'B14', 'Ancol', 2022, 'Owner'],
 ['slamet', 'm', 'G3', 'Ancol', 2023, 'Owner'],
 ['erna', 'f', 'D19', 'Ancol', 2024, 'Owner'],
 ['gilang aditia', 'm', 'G7', 'Ancol', 2022, 'Owner'],
 ['suherianto', 'm', 'F10', 'Ancol', 2024, 'Owner'],
 ['sugianti', 'f', 'D23', 'Ancol', 2023, 'Owner'],
 ['aris pratama putra', 'm', 'F14', 'Ancol', 2022, 'Owner'],
 ['adella', 'f', 'D10', 'Ancol', 2024, 'Owner'],
 ['widyo sudiro', 'm', 'G10', 'Ancol', 2022, 'Rent'],
 ['kusniah', 'f', 'E1', 'Ancol', 2023, 'Rent'],
 ['riza feri handoko', 'm', 'B24', 'Ancol', 2022, 'Owner'],
 ['angga adhy surya', 'm', 'D28', 'Ancol', 2023, 'Rent'],
 ['nelvin adhy renata', 'm', 'H8', 'Ancol', 2022, 'Owner'],
 ['titis brigida silva', 'f', 'F16', 'Ancol', 2022, 'Owner'],
 ['suroso', 'm', 'C2', 'Ancol', 2023, 'Owner'],
 ['sukati', 'f', 'E7', 'Ancol', 2022, 'Rent'],
 ['depri selamet ariadi', 'm', 'F11', 'Ancol', 2023, 'Owner'],
 ['isti nurjanah', 'f', 'G13', 'Ancol', 2024, 'Owner'],
 ['ruswantoro', 'm', 'H24', 'Ancol', 2024, 'Rent'],
 ['juli anggraeni', 'f', 'D17', 'Ancol', 2024, 'Owner'],
 ['muhammad prayoga winata', 'm', 'G5', 'Ancol', 2023, 'Owner'],
 ['heru setyono', 'm', 'F7', 'Ancol', 2024, 'Owner'],
 ['sri mulyani', 'f', 'G2', 'Ancol', 2022, 'Rent'],
 ['galih subekti', 'm', 'F8', 'Ancol', 2022, 'Owner'],
 ['ageng kurniawan', 'm', 'F3', 'Ancol', 2024, 'Owner'],
 ['auliya shobrina', 'f', 'A4', 'Ancol', 2024, 'Owner'],
 ['slamet', 'm', 'A6', 'Ancol', 2022, 'Owner'],
 ['suparmi', 'f', 'A11', 'Ancol', 2024, 'Rent'],
 ['tri agus susilo', 'm', 'F17', 'Ancol', 2022, 'Owner'],
 ['junaeri', 'm', 'D9', 'Ancol', 2024, 'Rent'],
 ['daryono', 'm', 'F18', 'Ancol', 2023, 'Owner'],
 ['poniyem', 'f', 'B18', 'Ancol', 2024, 'Owner'],
 ['fajar setiawan', 'm', 'D4', 'Ancol', 2024, 'Owner'],
 ['nabilatul dwi seftiani', 'f', 'B22', 'Ancol', 2024, 'Owner'],
 ['jaimin', 'm', 'E10', 'Ancol', 2023, 'Owner'],
 ['rohatun', 'f', 'E2', 'Ancol', 2024, 'Owner'],
 ['dewi safitri', 'f', 'C11', 'Ancol', 2024, 'Owner'],
 ['dian elok nur cahyati', 'f', 'G1', 'Ancol', 2024, 'Owner'],
 ['m. amrijen nur rohman', 'm', 'E6', 'Ancol', 2023, 'Rent'],
 ['rosidin', 'm', 'G8', 'Ancol', 2022, 'Owner'],
 ['suwarti', 'f', 'D21', 'Ancol', 2022, 'Owner'],
 ['krisdan fauzi', 'm', 'G14', 'Ancol', 2023, 'Rent'],
 ['khasanah dwi fauziah', 'f', 'D26', 'Ancol', 2022, 'Owner'],
 ['ainun isnaini fauziati', 'f', 'C9', 'Ancol', 2024, 'Owner'],
 ['m. rais tri wahyudi', 'm', 'H17', 'Ancol', 2024, 'Owner'],
 ['sri mudrikoh', 'f', 'B7', 'Ancol', 2022, 'Owner'],
 ['ihsan baedowi', 'm', 'F12', 'Ancol', 2023, 'Owner'],
 ['rahmad erwin wibisono', 'm', 'H13', 'Ancol', 2022, 'Owner'],
 ['muhamad fiki wahyudi', 'm', 'B6', 'Ancol', 2022, 'Owner'],
 ['agus salim', 'm', 'C5', 'Ancol', 2022, 'Owner'],
 ['mardiana', 'f', 'C3', 'Ancol', 2023, 'Owner'],
 ['mustika sari', 'f', 'H11', 'Ancol', 2022, 'Rent'],
 ['muhammad zamzari', 'm', 'D19', 'Darmawangsa', 2022, 'Owner'],
 ['air murya', 'f', 'F9', 'Darmawangsa', 2024, 'Owner'],
 ['sumardi', 'm', 'B4', 'Darmawangsa', 2024, 'Owner'],
 ['surni', 'f', 'H13', 'Darmawangsa', 2024, 'Owner'],
 ['wahid suprayitno', 'm', 'H9', 'Darmawangsa', 2024, 'Owner'],
 ['sutramiati', 'f', 'H15', 'Darmawangsa', 2022, 'Owner'],
 ['susanti lestari', 'f', 'F8', 'Darmawangsa', 2022, 'Owner'],
 ['rasman', 'm', 'B19', 'Darmawangsa', 2022, 'Owner'],
 ['riya ningsih', 'f', 'D6', 'Darmawangsa', 2022, 'Owner'],
 ['uji ifandy saputra', 'm', 'G15', 'Darmawangsa', 2024, 'Owner'],
 ['hana aida sahila', 'm', 'D28', 'Darmawangsa', 2024, 'Owner'],
 ['mufizar ilyas', 'm', 'D27', 'Darmawangsa', 2023, 'Rent'],
 ['nora', 'm', 'C2', 'Darmawangsa', 2024, 'Owner'],
 ['ulviana agustina', 'm', 'B8', 'Darmawangsa', 2022, 'Owner'],
 ['erina ramadhani', 'm', 'C18', 'Darmawangsa', 2023, 'Owner'],
 ['sumono', 'm', 'E4', 'Darmawangsa', 2024, 'Owner'],
 ['khoirul zaki', 'm', 'F3', 'Darmawangsa', 2023, 'Owner'],
 ['warsini', 'm', 'A4', 'Darmawangsa', 2023, 'Owner'],
 ['alif al barrak zaki', 'm', 'E8', 'Darmawangsa', 2022, 'Owner'],
 ['sulistiyono', 'm', 'F12', 'Darmawangsa', 2023, 'Owner'],
 ['jekri wiralis', 'm', 'C20', 'Darmawangsa', 2022, 'Owner'],
 ['nirmanto', 'm', 'B20', 'Darmawangsa', 2024, 'Owner'],
 ['rasmini', 'm', 'C1', 'Darmawangsa', 2023, 'Owner'],
 ['bejo hutanto', 'm', 'E5', 'Darmawangsa', 2022, 'Rent'],
 ['desi tri astuti', 'm', 'C9', 'Darmawangsa', 2022, 'Owner'],
 ['okta ionika', 'm', 'D20', 'Darmawangsa', 2023, 'Owner'],
 ['muhyidin', 'm', 'C5', 'Darmawangsa', 2024, 'Rent'],
 ['meriyanti', 'm', 'E7', 'Darmawangsa', 2023, 'Owner'],
 ['erna lestari', 'm', 'H19', 'Darmawangsa', 2024, 'Owner'],
 ['asef saifulloh', 'm', 'G5', 'Darmawangsa', 2022, 'Owner'],
 ['jonianto', 'm', 'D26', 'Darmawangsa', 2024, 'Owner'],
 ['mujiati', 'm', 'C7', 'Darmawangsa', 2023, 'Rent'],
 ['riko hari prasetyo', 'm', 'G18', 'Darmawangsa', 2022, 'Owner'],
 ['diva al farizky', 'm', 'C21', 'Darmawangsa', 2022, 'Owner'],
 ['parjo', 'm', 'H20', 'Darmawangsa', 2022, 'Owner'],
 ['rumsiyah', 'm', 'G1', 'Darmawangsa', 2024, 'Owner'],
 ['dewi sumarni', 'm', 'A6', 'Darmawangsa', 2022, 'Owner'],
 ['efi sulastri', 'm', 'G6', 'Darmawangsa', 2022, 'Owner'],
 ['wagimun', 'm', 'D4', 'Darmawangsa', 2022, 'Owner'],
 ['girah', 'm', 'A3', 'Darmawangsa', 2023, 'Owner'],
 ['feni safitri', 'm', 'G11', 'Darmawangsa', 2024, 'Owner'],
 ['sumarno', 'm', 'H6', 'Darmawangsa', 2023, 'Owner'],
 ['nurimah', 'm', 'H22', 'Darmawangsa', 2024, 'Owner'],
 ['noviana anggraeni', 'm', 'F2', 'Darmawangsa', 2022, 'Owner'],
 ['aissyah dwi zhaskia', 'm', 'H11', 'Darmawangsa', 2024, 'Owner'],
 ['hariri', 'm', 'H4', 'Darmawangsa', 2024, 'Owner'],
 ['ida budiani', 'm', 'B15', 'Darmawangsa', 2022, 'Owner'],
 ['rizki pratama', 'm', 'B24', 'Darmawangsa', 2022, 'Rent'],
 ['yanto', 'm', 'B22', 'Darmawangsa', 2024, 'Owner'],
 ['puji lestari', 'f', 'G14', 'Darmawangsa', 2022, 'Owner'],
 ['dewi wulan ningsih', 'f', 'G2', 'Darmawangsa', 2022, 'Rent'],
 ['aril aji alania', 'm', 'H7', 'Darmawangsa', 2024, 'Owner'],
 ['amalia chechy anggia', 'f', 'C6', 'Darmawangsa', 2022, 'Rent'],
 ['suranto', 'm', 'A7', 'Darmawangsa', 2023, 'Rent'],
 ['suprihatin', 'f', 'H25', 'Darmawangsa', 2022, 'Owner'],
 ['bangkit syuhada', 'm', 'A8', 'Darmawangsa', 2022, 'Owner'],
 ['tri anindita aurellia', 'f', 'G9', 'Darmawangsa', 2023, 'Owner'],
 ['kasturi', 'm', 'D7', 'Darmawangsa', 2022, 'Owner'],
 ['epran', 'm', 'B3', 'Darmawangsa', 2022, 'Owner'],
 ['suwarsih', 'f', 'H17', 'Darmawangsa', 2022, 'Owner'],
 ['dwi astika sari', 'f', 'B1', 'Darmawangsa', 2024, 'Owner'],
 ['trio hamdani', 'm', 'H8', 'Darmawangsa', 2024, 'Owner'],
 ['a. solikhin', 'm', 'H18', 'Darmawangsa', 2023, 'Rent'],
 ['sumiati', 'f', 'G16', 'Darmawangsa', 2023, 'Owner'],
 ['sugiat bagus hermawan', 'm', 'C12', 'Darmawangsa', 2024, 'Owner'],
 ['sukma liyana dewi', 'f', 'A2', 'Darmawangsa', 2022, 'Owner'],
 ['dzul helmi affan ridho', 'm', 'E16', 'Darmawangsa', 2024, 'Rent'],
 ['nugroho', 'm', 'B9', 'Darmawangsa', 2022, 'Owner'],
 ['kusriyati', 'f', 'A13', 'Darmawangsa', 2024, 'Owner'],
 ['vika apriliana n. a', 'f', 'D10', 'Darmawangsa', 2024, 'Owner'],
 ['bela octavia ramadani', 'f', 'C4', 'Darmawangsa', 2023, 'Owner'],
 ['pri santoso', 'm', 'H23', 'Darmawangsa', 2022, 'Owner'],
 ['miyanto', 'm', 'E13', 'Darmawangsa', 2022, 'Owner'],
 ['samiyah', 'f', 'E1', 'Darmawangsa', 2023, 'Owner'],
 ['wahyu pratama', 'm', 'H3', 'Darmawangsa', 2024, 'Owner'],
 ['devina tria ananda', 'f', 'A12', 'Darmawangsa', 2022, 'Owner'],
 ['masruri', 'm', 'D1', 'Darmawangsa', 2023, 'Owner'],
 ['siti romlah', 'f', 'C11', 'Darmawangsa', 2024, 'Owner'],
 ['ricky prayoga', 'm', 'F13', 'Darmawangsa', 2024, 'Rent'],
 ['shafa mutia nurhaliza', 'f', 'F10', 'Darmawangsa', 2022, 'Owner'],
 ['abdul malik', 'm', 'D24', 'Darmawangsa', 2022, 'Owner'],
 ['kardi', 'm', 'A9', 'Darmawangsa', 2024, 'Owner'],
 ['sumini', 'f', 'B12', 'Darmawangsa', 2024, 'Owner'],
 ['andika saputra', 'm', 'A14', 'Darmawangsa', 2023, 'Owner'],
 ['habib hidayaturrohman', 'm', 'H14', 'Darmawangsa', 2022, 'Owner'],
 ['wiwik wulandari', 'f', 'E11', 'Darmawangsa', 2022, 'Owner'],
 ['m. souvil anam', 'm', 'D17', 'Darmawangsa', 2022, 'Rent'],
 ['anin khamidah', 'f', 'G3', 'Darmawangsa', 2024, 'Owner'],
 ['diram', 'm', 'B2', 'Darmawangsa', 2024, 'Rent'],
 ['muslimah', 'f', 'H5', 'Darmawangsa', 2022, 'Owner'],
 ['eko kurniawan', 'm', 'A1', 'Darmawangsa', 2022, 'Owner'],
 ['romadon nur hidayat', 'm', 'C15', 'Darmawangsa', 2022, 'Owner'],
 ['siti masliah', 'f', 'F5', 'Darmawangsa', 2024, 'Rent'],
 ['tri adi eko lestanto', 'm', 'F15', 'Darmawangsa', 2022, 'Owner'],
 ['eva setia ningrum', 'f', 'E15', 'Darmawangsa', 2022, 'Rent'],
 ['suyono', 'm', 'D18', 'Darmawangsa', 2022, 'Owner'],
 ['nurtriana yuliastuti', 'f', 'D5', 'Darmawangsa', 2023, 'Owner'],
 ['sazim saputra', 'm', 'F4', 'Darmawangsa', 2023, 'Owner'],
 ['rozakiah', 'f', 'F16', 'Darmawangsa', 2024, 'Owner'],
 ['alifia yuliani', 'f', 'F17', 'Darmawangsa', 2023, 'Owner'],
 ['hamzah maulana', 'm', 'E10', 'Darmawangsa', 2023, 'Owner'],
 ['akbar maulana', 'm', 'D14', 'Darmawangsa', 2024, 'Owner'],
 ['supriyadi', 'm', 'G12', 'Darmawangsa', 2022, 'Owner'],
 ['supiyah', 'f', 'A17', 'Darmawangsa', 2022, 'Owner'],
 ['alfajar efendi', 'm', 'C17', 'Darmawangsa', 2024, 'Owner'],
 ['ahmad saprudin', 'm', 'F7', 'Darmawangsa', 2024, 'Owner'],
 ['anwar sholeh', 'm', 'C3', 'Darmawangsa', 2024, 'Owner'],
 ['umi muslimah', 'f', 'C16', 'Darmawangsa', 2022, 'Owner'],
 ['elisa anjani', 'f', 'G17', 'Darmawangsa', 2022, 'Owner'],
 ['meila nurhidayati', 'f', 'B5', 'Darmawangsa', 2024, 'Owner'],
 ['santoso', 'm', 'B14', 'Darmawangsa', 2024, 'Owner'],
 ['tumi', 'f', 'A5', 'Darmawangsa', 2023, 'Rent'],
 ['mira mustika', 'f', 'H1', 'Darmawangsa', 2022, 'Rent'],
 ['edi suyoto', 'm', 'H12', 'Darmawangsa', 2022, 'Owner'],
 ['rikana nurmala desi', 'f', 'B11', 'Darmawangsa', 2024, 'Owner'],
 ['zidane dhevan pratama', 'm', 'B10', 'Darmawangsa', 2022, 'Owner'],
 ['mariyamah', 'f', 'B16', 'Darmawangsa', 2024, 'Owner'],
 ['setiawan', 'm', 'C8', 'Darmawangsa', 2023, 'Owner'],
 ['sutiono', 'm', 'D23', 'Darmawangsa', 2022, 'Owner'],
 ['nurhayati', 'f', 'D2', 'Darmawangsa', 2022, 'Owner'],
 ['oki aditia saputra', 'm', 'A15', 'Darmawangsa', 2024, 'Owner'],
 ['hendrio junior', 'm', 'F1', 'Darmawangsa', 2022, 'Owner'],
 ['giatno', 'm', 'F11', 'Darmawangsa', 2024, 'Owner'],
 ['siti ngaisah', 'f', 'D11', 'Darmawangsa', 2023, 'Owner'],
 ['ahmad rasyid', 'm', 'A19', 'Darmawangsa', 2024, 'Owner'],
 ['gilang nur bekti', 'm', 'D16', 'Darmawangsa', 2022, 'Owner'],
 ['abas suyatno', 'm', 'A11', 'Darmawangsa', 2023, 'Owner'],
 ['kholipah', 'f', 'C19', 'Darmawangsa', 2022, 'Owner'],
 ['abdul kholik', 'm', 'D25', 'Darmawangsa', 2024, 'Owner'],
 ['dede adiyanto', 'm', 'B13', 'Darmawangsa', 2023, 'Owner'],
 ['handani nurul hidayah', 'f', 'H24', 'Darmawangsa', 2022, 'Owner'],
 ['mustofa', 'm', 'A18', 'Darmawangsa', 2024, 'Owner'],
 ['luhur gunawan', 'm', 'G10', 'Darmawangsa', 2024, 'Owner'],
 ['tri mandrasih', 'f', 'F6', 'Darmawangsa', 2022, 'Owner'],
 ['manisem', 'f', 'B23', 'Darmawangsa', 2023, 'Owner'],
 ['r. widodo', 'm', 'D21', 'Darmawangsa', 2024, 'Owner'],
 ['ismanto', 'm', 'H2', 'Darmawangsa', 2022, 'Owner'],
 ['tri lestari', 'f', 'E12', 'Darmawangsa', 2022, 'Owner'],
 ['kurniawan zam zami', 'm', 'C10', 'Darmawangsa', 2023, 'Owner'],
 ['raditia saputri', 'm', 'D3', 'Darmawangsa', 2022, 'Owner'],
 ['mabruro', 'm', 'C13', 'Darmawangsa', 2022, 'Owner'],
 ['mukaromah', 'f', 'B17', 'Darmawangsa', 2023, 'Rent'],
 ['vina nailatul izzah', 'f', 'H10', 'Darmawangsa', 2023, 'Owner'],
 ['muhammad arwin', 'm', 'D13', 'Darmawangsa', 2022, 'Owner'],
 ['ulil amri', 'm', 'G8', 'Darmawangsa', 2022, 'Owner'],
 ['nurul mubarokah', 'f', 'H21', 'Darmawangsa', 2023, 'Owner'],
 ['nurisya amara putri', 'f', 'G4', 'Darmawangsa', 2022, 'Owner'],
 ['karno', 'm', 'A16', 'Darmawangsa', 2024, 'Owner'],
 ['asmunah', 'f', 'D9', 'Darmawangsa', 2022, 'Owner'],
 ['danang wahyu ananda', 'm', 'B21', 'Darmawangsa', 2023, 'Owner'],
 ['syamsul huda', 'm', 'E6', 'Darmawangsa', 2022, 'Owner'],
 ['tumirah', 'f', 'A10', 'Darmawangsa', 2022, 'Rent'],
 ['nur qasanah', 'f', 'G7', 'Darmawangsa', 2024, 'Rent'],
 ['andika dwi pangestu', 'm', 'D8', 'Darmawangsa', 2023, 'Owner'],
 ['mhd. yunus', 'm', 'G13', 'Darmawangsa', 2024, 'Owner'],
 ['juminah', 'f', 'D12', 'Darmawangsa', 2023, 'Owner'],
 ['dwi yuliani', 'f', 'B7', 'Darmawangsa', 2024, 'Owner'],
 ['chyndi erliani', 'f', 'D22', 'Darmawangsa', 2022, 'Owner'],
 ['eka putra', 'm', 'E2', 'Darmawangsa', 2024, 'Owner'],
 ['sri martini', 'f', 'E9', 'Darmawangsa', 2024, 'Owner'],
 ['fadilla rahmadani', 'f', 'C14', 'Darmawangsa', 2024, 'Owner'],
 ['ananda reyhan pradipta', 'm', 'F14', 'Darmawangsa', 2022, 'Owner'],
 ['masinah', 'f', 'E14', 'Darmawangsa', 2024, 'Owner'],
 ['d. maulana', 'm', 'B18', 'Darmawangsa', 2024, 'Owner'],
 ['kasri', 'm', 'B6', 'Darmawangsa', 2022, 'Owner'],
 ['salami', 'f', 'H16', 'Darmawangsa', 2022, 'Owner'],
 ['eko rudiyanto', 'm', 'E3', 'Darmawangsa', 2024, 'Owner'],
 ['desi susanti', 'f', 'D15', 'Darmawangsa', 2024, 'Owner'],
 ['hafizhan shidqi', 'm', 'C14', 'Kemayoran', 2022, 'Owner'],
 ['gandhi wibowo', 'm', 'F6', 'Kemayoran', 2024, 'Owner'],
 ['aldio mahendra purwandrarto', 'm', 'E2', 'Kemayoran', 2024, 'Owner'],
 ['benny putra', 'm', 'F14', 'Kemayoran', 2024, 'Owner'],
 ['vicky vernando dasta', 'm', 'G3', 'Kemayoran', 2024, 'Owner'],
 ['jufianto henri', 'm', 'C8', 'Kemayoran', 2022, 'Owner'],
 ['aan nuraini', 'f', 'A2', 'Kemayoran', 2024, 'Owner'],
 ['abdur rahman', 'm', 'F3', 'Kemayoran', 2023, 'Owner'],
 ['abdurrahman', 'm', 'D12', 'Kemayoran', 2024, 'Owner'],
 ['ade indra sukma', 'f', 'C12', 'Kemayoran', 2022, 'Rent'],
 ['ade irmayani', 'f', 'A12', 'Kemayoran', 2022, 'Owner'],
 ['bakti yoga fiyandana', 'm', 'B1', 'Kemayoran', 2024, 'Rent'],
 ['daniel sepra fatama', 'm', 'D5', 'Kemayoran', 2023, 'Rent'],
 ['dayu m sandro', 'm', 'F8', 'Kemayoran', 2023, 'Owner'],
 ['dean mareti hariani', 'f', 'E8', 'Kemayoran', 2024, 'Owner'],
 ['edi kurniawan wibowo', 'm', 'F1', 'Kemayoran', 2022, 'Rent'],
 ['fadil rahmat andini', 'm', 'C15', 'Kemayoran', 2022, 'Owner'],
 ['fahmi iqbal firmananda', 'm', 'E10', 'Kemayoran', 2024, 'Owner'],
 ['fairuzi', 'm', 'C7', 'Kemayoran', 2023, 'Owner'],
 ['gustian', 'm', 'A8', 'Kemayoran', 2023, 'Owner'],
 ["habil sabilla do'a", 'f', 'B17', 'Kemayoran', 2024, 'Owner'],

In [ ]:
# add res_id
# res_id prefix = year_of_inhabited + cluster_code + number_block + own_status_code + random number (6 digit)
# total

yoi = []
clus_code = []
num_block = []
own_code = []
rand_num = []

In [ ]:
for i in df_resident_list:
  yoi.append(i[4])

for j in df_resident_list:
  ind = cluster.index(j[3])
  clus_code.append(cluster_code[ind])

for i in df_resident_list:
  num_block.append(i[2])

for k in df_resident_list:
  ind = rumah.index(k[5])
  own_code.append(own_status_code[ind])

for i in range(789):
  rand_num.append(str(uuid.uuid4().int)[:6])

In [ ]:
id_fix = []
id = np.c_[yoi, clus_code, num_block, own_code, rand_num]

for i in id:
  id_fix.append(''.join(i))

In [ ]:
yoi

[2022,
 2022,
 2023,
 2024,
 2022,
 2022,
 2023,
 2022,
 2024,
 2023,
 2024,
 2023,
 2023,
 2023,
 2022,
 2022,
 2022,
 2023,
 2023,
 2024,
 2024,
 2022,
 2024,
 2022,
 2023,
 2022,
 2022,
 2024,
 2024,
 2024,
 2023,
 2024,
 2024,
 2024,
 2022,
 2022,
 2023,
 2023,
 2022,
 2022,
 2022,
 2022,
 2023,
 2022,
 2022,
 2024,
 2024,
 2022,
 2024,
 2022,
 2022,
 2024,
 2023,
 2022,
 2024,
 2022,
 2023,
 2024,
 2024,
 2023,
 2022,
 2024,
 2024,
 2023,
 2024,
 2022,
 2022,
 2024,
 2023,
 2024,
 2022,
 2023,
 2024,
 2024,
 2024,
 2024,
 2022,
 2023,
 2023,
 2022,
 2022,
 2022,
 2022,
 2024,
 2022,
 2024,
 2022,
 2022,
 2024,
 2022,
 2024,
 2023,
 2023,
 2024,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2023,
 2024,
 2022,
 2024,
 2023,
 2022,
 2024,
 2022,
 2023,
 2022,
 2023,
 2022,
 2022,
 2023,
 2022,
 2023,
 2024,
 2024,
 2024,
 2023,
 2024,
 2022,
 2022,
 2024,
 2024,
 2022,
 2024,
 2022,
 2024,
 2023,
 2024,
 2024,
 2024,
 2023,
 2024,
 2024,
 2024,
 2023,
 2022,
 2022,
 2023,
 2022,
 2024,
 2024,
 2022,
 2023,
 2022,
 2022,
 2022,
 2023,
 2022,
 2022,
 2024,
 2024,
 2024,
 2024,
 2022,
 2022,
 2022,
 2022,
 2024,
 2024,
 2023,
 2024,
 2022,
 2023,
 2024,
 2023,
 2023,
 2022,
 2023,
 2022,
 2024,
 2023,
 2022,
 2022,
 2023,
 2024,
 2023,
 2024,
 2022,
 2024,
 2023,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2023,
 2024,
 2023,
 2024,
 2022,
 2024,
 2024,
 2022,
 2022,
 2024,
 2022,
 2022,
 2024,
 2022,
 2023,
 2022,
 2022,
 2023,
 2022,
 2022,
 2022,
 2024,
 2024,
 2023,
 2023,
 2024,
 2022,
 2024,
 2022,
 2024,
 2024,
 2023,
 2022,
 2022,
 2023,
 2024,
 2022,
 2023,
 2024,
 2024,
 2022,
 2022,
 2024,
 2024,
 2023,
 2022,
 2022,
 2022,
 2024,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2023,
 2023,
 2024,
 2023,
 2023,
 2024,
 2022,
 2022,
 2024,
 2024,
 2024,
 2022,
 2022,
 2024,
 2024,
 2023,
 2022,
 2022,
 2024,
 2022,
 2024,
 2023,
 2022,
 2022,
 2024,
 2022,
 2024,
 2023,
 2024,
 2022,
 2023,
 2022,
 2024,
 2023,
 2022,
 2024,
 2024,
 2022,
 2023,
 2024,
 2022,
 2022,
 2023,
 2022,
 2022,
 2023,
 2023,
 2022,
 2022,
 2023,
 2022,
 2024,
 2022,
 2023,
 2022,
 2022,
 2024,
 2023,
 2024,
 2023,
 2024,
 2022,
 2024,
 2024,
 2024,
 2022,
 2024,
 2024,
 2022,
 2022,
 2024,
 2024,
 2022,
 2024,
 2024,
 2024,
 2024,
 2022,
 2024,
 2023,
 2024,
 2022,
 2022,
 2024,
 2023,
 2023,
 2024,
 2022,
 2022,
 2024,
 2023,
 2023,
 2024,
 2024,
 2022,
 2022,
 2024,
 2022,
 2024,
 2023,
 2024,
 2022,
 2024,
 2024,
 2022,
 2023,
 2023,
 2022,
 2022,
 2022,
 2022,
 2022,
 2024,
 2024,
 2023,
 2022,
 2023,
 2024,
 2024,
 2024,
 2023,
 2024,
 2024,
 2022,
 2023,
 2024,
 2022,
 2024,
 2024,
 2023,
 2024,
 2024,
 2023,
 2024,
 2024,
 2023,
 2022,
 2023,
 2023,
 2024,
 2024,
 2022,
 2023,
 2024,
 2024,
 2024,
 2023,
 2024,
 2024,
 2023,
 2024,
 2023,
 2022,
 2022,
 2022,
 2024,
 2024,
 2024,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2024,
 2022,
 2024,
 2022,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2024,
 2023,
 2024,
 2024,
 2023,
 2024,
 2022,
 2022,
 2024,
 2022,
 2024,
 2024,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2023,
 2023,
 2023,
 2023,
 2022,
 2024,
 2022,
 2024,
 2024,
 2024,
 2024,
 2022,
 2024,
 2024,
 2024,
 2022,
 2023,
 2022,
 2023,
 2024,
 2024,
 2024,
 2022,
 2023,
 2023,
 2024,
 2023,
 2024,
 2024,
 2024,
 2022,
 2024,
 2023,
 2023,
 2023,
 2022,
 2022,
 2022,
 2022,
 2024,
 2024,
 2024,
 2022,
 2024,
 2023,
 2022,
 2023,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2024,
 2024,
 2023,
 2024,
 2024,
 2022,
 2024,
 2024,
 2022,
 2022,
 2022,
 2023,
 2023,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2024,
 2022,
 2024,
 2023,
 2024,
 2022,
 2022,
 2024,
 2024,
 2022,
 2022,
 2022,
 2023,
 2022,
 2023,
 2022,
 2022,
 2024,
 2023,
 2022,
 2024,
 2024,
 2024,
 2024,
 2022,
 2023,
 2024,
 2024,
 2024,
 2022,
 2023,
 2023,
 2022,
 2024,
 2022,
 2024,
 2022,
 2022,
 2024,
 2024,
 2022,
 2022,
 2024,
 2022,
 2022,
 2024,
 2023,
 2022,
 2022,
 2024,
 2024,
 2023,
 2022,
 2022,
 2024,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2024,
 2024,
 2024,
 2022,
 2022,
 2022,
 2022,
 2023,
 2023,
 2024,
 2022,
 2024,
 2022,
 2023,
 2022,
 2022,
 2024,
 2024,
 2022,
 2022,
 2022,
 2023,
 2024,
 2022,
 2022,
 2024,
 2023,
 2024,
 2024,
 2024,
 2024,
 2022,
 2022,
 2024,
 2022,
 2023,
 2022,
 2024,
 2023,
 2024,
 2023,
 2022,
 2024,
 2023,
 2023,
 2023,
 2023,
 2022,
 2024,
 2023,
 2023,
 2024,
 2022,
 2024,
 2022,
 2023,
 2024,
 2023,
 2022,
 2024,
 2024,
 2024,
 2022,
 2022,
 2023,
 2022,
 2023,
 2023,
 2024,
 2024,
 2022,
 2024,
 2023,
 2022,
 2022,
 2022,
 2024,
 2024,
 2022,
 2022,
 2023,
 2024,
 2024,
 2024,
 2022,
 2024,
 2022,
 2022,
 2022,
 2022,
 2024,
 2023,
 2023,
 2022,
 2022,
 2024,
 2022,
 2024,
 2022,
 2023,
 2022,
 2024,
 2022,
 2024,
 2024,
 2024,
 2024,
 2024,
 2024,
 2023,
 2023,
 2022,
 2024,
 2022,
 2022,
 2024,
 2024,
 2023,
 2024,
 2022,
 2024,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2024,
 2022,
 2024,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2022,
 2024,
 2022,
 2022,
 2024,
 2023,
 2022,
 2023,
 2024,
 2022,
 2022,
 2024,
 2024,
 2022,
 2024,
 2023,
 2022,
 2023,
 2024,
 2022,
 2024,
 2022,
 2024,
 2022,
 2022,
 2022,
 2024,
 2022,
 2024,
 2023,
 2022,
 2024,
 2024,
 2022,
 2022,
 2023,
 2023,
 2023,
 2022,
 2024,
 2023,
 2024,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2024,
 2023,
 2024,
 2024,
 2024,
 2022,
 2024,
 2022,
 2022,
 2024,
 2023,
 2024,
 2023,
 2022,
 2023,
 2022,
 2023,
 2022,
 2023]

In [ ]:
id_fix

['202203A1401484221',
 '202203B1902780908',
 '202303C1201119547',
 '202403D302160049',
 '202203C101563316',
 '202203G1201179026',
 '202303H1201633496',
 '202203G1501690987',
 '202403D2501171004',
 '202303G1101892420',
 '202403B2001196382',
 '202303D802517421',
 '202303H2501280011',
 '202303H101141935',
 '202203F101467154',
 '202203A1601285586',
 '202203D1801112245',
 '202303C401133155',
 '202303C802103588',
 '202403B1101794392',
 '202403D2701308369',
 '202203A501112667',
 '202403B1701600697',
 '202203D601240055',
 '202303A901220966',
 '202203F501295992',
 '202203E401265238',
 '202403B401236420',
 '202403H2101178578',
 '202403D2401187867',
 '202303D1201242806',
 '202403G1601312097',
 '202403D1101263990',
 '202403G901267851',
 '202203H2302381430',
 '202203A1001314392',
 '202303H301109854',
 '202303G601652294',
 '202203E501134039',
 '202203B1601208333',
 '202203D1301227936',
 '202203D101323962',
 '202303H501220892',
 '202203B901547192',
 '202203A1201429217',
 '202403A701848730',
 '202403H2001296930',
 '202203F901664817',
 '202403H2201127609',
 '202203H1502921274',
 '202203D1401175758',
 '202403E901278975',
 '202303C1301216791',
 '202203B501449940',
 '202403E302102225',
 '202203C701165915',
 '202303B2101195205',
 '202403F201111589',
 '202403H1402273790',
 '202303D1501206345',
 '202203C1001133824',
 '202403C1601244346',
 '202403C1402295046',
 '202303H601826045',
 '202403D2201135881',
 '202203D201180421',
 '202203H702309642',
 '202403D1601803577',
 '202303A1502209362',
 '202403A301475415',
 '202203A1301148997',
 '202303H1002215830',
 '202403G402335781',
 '202403A101308923',
 '202403B302280457',
 '202403C1501165303',
 '202203C602480434',
 '202303B801972722',
 '202303F401246810',
 '202203H1601108817',
 '202203D701987639',
 '202203B101246645',
 '202203B2301133830',
 '202403B1001120987',
 '202203B1302147788',
 '202403F1501118123',
 '202203C1701179846',
 '202203B201109026',
 '202403A801658283',
 '202203H202137999',
 '202403H401873238',
 '202303E801272421',
 '202303F1302126183',
 '202403B1501324342',
 '202203D501257426',
 '202203D2001107296',
 '202203F601243393',
 '202203H1802294413',
 '202203H901431797',
 '202203A201604186',
 '202403B1201156087',
 '202203H1901209011',
 '202203B1401152918',
 '202303G301213614',
 '202403D1901263826',
 '202203G701183988',
 '202403F1001329986',
 '202303D2301123613',
 '202203F1401104557',
 '202403D1001146841',
 '202203G1002337595',
 '202303E102169870',
 '202203B2401141059',
 '202303D2802241417',
 '202203H801263500',
 '202203F1601203366',
 '202303C201338628',
 '202203E702306142',
 '202303F1101113930',
 '202403G1301219716',
 '202403H2402144237',
 '202403D1701146338',
 '202303G501210424',
 '202403F701840492',
 '202203G202891331',
 '202203F801262359',
 '202403F301173185',
 '202403A401275540',
 '202203A601206031',
 '202403A1102678244',
 '202203F1701185213',
 '202403D902457460',
 '202303F1801368209',
 '202403B1801149933',
 '202403D401113526',
 '202403B2201114740',
 '202303E1001264395',
 '202403E201571358',
 '202403C1101101630',
 '202403G101130694',
 '202303E602303076',
 '202203G801100622',
 '202203D2101228983',
 '202303G1402245116',
 '202203D2601151103',
 '202403C901487836',
 '202403H1701127409',
 '202203B701157125',
 '202303F1201241070',
 '202203H1301295709',
 '202203B601470767',
 '202203C501226794',
 '202303C301125669',
 '202203H1102316053',
 '202204D1901164765',
 '202404F901326641',
 '202404B401216705',
 '202404H1301215987',
 '202404H901425975',
 '202204H1501182617',
 '202204F801423199',
 '202204B1901256452',
 '202204D601316282',
 '202404G1501462471',
 '202404D2801741030',
 '202304D2702852366',
 '202404C201164310',
 '202204B801197239',
 '202304C1801847516',
 '202404E401308752',
 '202304F301121757',
 '202304A401278605',
 '202204E801108719',
 '202304F1201296937',
 '202204C2001148004',
 '202404B2001268674',
 '202304C101147790',
 '202204E502117549',
 '202204C901139635',
 '202304D2001277197',
 '202404C502174563',
 '202304E701884866',
 '202404H1901142516',
 '202204G501308149',
 '202404D2601331110',
 '202304C702113204',
 '202204G1801173353',
 '202204C2101131088',
 '202204H2001505193',
 '202404G101282721',
 '202204A601160608',
 '202204G601297486',
 '202204D401287097',
 '202304A301887019',
 '202404G1101322919',
 '202304H601186699',
 '202404H2201172626',
 '202204F201271209',
 '202404H1101244647',
 '202404H401238752',
 '202204B1501333159',
 '202204B2402683619',
 '202404B2201148440',
 '202204G1401291206',
 '202204G202152887',
 '202404H701171834',
 '202204C602223288',
 '202304A702905622',
 '202204H2501185854',
 '202204A801315338',
 '202304G901425924',
 '202204D701261460',
 '202204B301179861',
 '202204H1701339447',
 '202404B101303360',
 '202404H801186252',
 '202304H1802121540',
 '202304G1601313448',
 '202404C1201315933',
 '202204A201235672',
 '202404E1602247621',
 '202204B901173219',
 '202404A1301275391',
 '202404D1001829653',
 '202304C401113416',
 '202204H2301759657',
 '202204E1301848777',
 '202304E101756498',
 '202404H301954737',
 '202204A1201201535',
 '202304D101141035',
 '202404C1101120516',
 '202404F1302138965',
 '202204F1001167407',
 '202204D2401714192',
 '202404A901162794',
 '202404B1201319750',
 '202304A1401230276',
 '202204H1401266437',
 '202204E1101238248',
 '202204D1702224691',
 '202404G301688096',
 '202404B202322370',
 '202204H501102478',
 '202204A101183585',
 '202204C1501285096',
 '202404F502164267',
 '202204F1501120952',
 '202204E1502221383',
 '202204D1801293350',
 '202304D501193423',
 '202304F401153396',
 '202404F1601237891',
 '202304F1701944800',
 '202304E1001625646',
 '202404D1401222944',
 '202204G1201140324',
 '202204A1701305934',
 '202404C1701189048',
 '202404F701387887',
 '202404C301161984',
 '202204C1601627721',
 '202204G1701203205',
 '202404B501297795',
 '202404B1401281974',
 '202304A502155370',
 '202204H102127990',
 '202204H1201214717',
 '202404B1101150111',
 '202204B1001379337',
 '202404B1601128953',
 '202304C801243624',
 '202204D2301330384',
 '202204D201192978',
 '202404A1501408083',
 '202204F101231580',
 '202404F1101151351',
 '202304D1101972339',
 '202404A1901780993',
 '202204D1601588854',
 '202304A1101266245',
 '202204C1901257804',
 '202404D2501160865',
 '202304B1301147196',
 '202204H2401196089',
 '202404A1801142793',
 '202404G1001304833',
 '202204F601335078',
 '202304B2301126887',
 '202404D2101228615',
 '202204H201323800',
 '202204E1201247964',
 '202304C1001335689',
 '202204D301167570',
 '202204C1301250375',
 '202304B1702291010',
 '202304H1001113075',
 '202204D1301150619',
 '202204G801309306',
 '202304H2101895386',
 '202204G401182094',
 '202404A1601144037',
 '202204D901235040',
 '202304B2101152066',
 '202204E601281692',
 '202204A1002318087',
 '202404G702168896',
 '202304D801591748',
 '202404G1301180583',
 '202304D1201191989',
 '202404B701245270',
 '202204D2201110048',
 '202404E201198430',
 '202404E901328743',
 '202404C1401481177',
 '202204F1401319546',
 '202404E1401224636',
 '202404B1801254349',
 '202204B601171832',
 '202204H1601103639',
 '202404E301281793',
 '202404D1501118793',
 '202201C1401853179',
 '202401F601359754',
 '202401E201297920',
 '202401F1401235688',
 '202401G301101004',
 '202201C801317909',
 '202401A201191724',
 '202301F301188942',
 '202401D1201107894',
 '202201C1202809227',
 '202201A1201426948',
 '202401B102234701',
 '202301D502974343',
 '202301F801276693',
 '202401E801252445',
 '202201F102790146',
 '202201C1501199660',
 '202401E1001106670',
 '202301C701179134',
 '202301A801904281',
 '202401B1701109505',
 '202401F201202238',
 '202201G202541683',
 '202201D101158382',
 '202401F1201779217',
 '202201B601106424',
 '202401G801179356',
 '202301C201982309',
 '202401B701695024',
 '202201F902905924',
 '202401E901143075',
 '202401D601653378',
 '202201B1201113844',
 '202301B1301213627',
 '202301B201546846',
 '202201G401244245',
 '202201G1301253610',
 '202201B1001207358',
 '202201D702362677',
 '202201G1001608779',
 '202401G701246853',
 '202401C401326861',
 '202301A1502183388',
 '202201F701108260',
 '202301G901113940',
 '202401E101318264',
 '202401D301150783',
 '202401B1101243838',
 '202301C601327311',
 '202401G1201334212',
 '202401A501146235',
 '202201A901507026',
 '202301F1502154785',
 '202401A102228816',
 '202201F1101221815',
 '202401F1301173506',
 '202401C1101107649',
 '202301C1002133645',
 '202401D1101627363',
 '202401A1101190007',
 '202301D801308666',
 '202401A601280325',
 '202401E301225335',
 '202301G102216110',
 '202201D1301145223',
 '202301G501200667',
 '202301B901146591',
 '202401D201540929',
 '202401B801179872',
 '202201G1401719738',
 '202301A1001253569',
 '202401A701148881',
 '202401C501122022',
 '202401E601136387',
 '202301A401642809',
 '202401C1302208095',
 '202401E501110403',
 '202301B301224486',
 '202401C301167805',
 '202301D901176102',
 '202201B1401850401',
 '202201C901322212',
 '202201F1001217139',
 '202401D1001284240',
 '202401B1501205318',
 '202401G601112118',
 '202201A301108298',
 '202201B1601123726',
 '202401G1101107053',
 '202201E701491693',
 '202201D401300318',
 '202201F501115170',
 '202401B501203099',
 '202401F401167127',
 '202201G1501107924',
 '202401B401149207',
 '202201A1301288974',
 '202201E402758418',
 '202201C101288165',
 '202201A1402124801',
 '202402A201239827',
 '202202C701229873',
 '202202D1301552394',
 '202402A1701120005',
 '202302E302100388',
 '202402C1701143547',
 '202402C801265119',
 '202302F1302195246',
 '202402D1601872975',
 '202202D101962373',
 '202202C1201172437',
 '202402E502319942',
 '202202F1101424127',
 '202402D1501209193',
 '202402D1101596820',
 '202202C501800334',
 '202402A101166842',
 '202202A901138368',
 '202202A701333112',
 '202202E601336341',
 '202402F1502224143',
 '202302D901324382',
 '202302B1701328116',
 '202302A301633979',
 '202302C601298963',
 '202202B601299496',
 '202402B901239731',
 '202202C1001505919',
 '202402C901126143',
 '202402D202265966',
 '202402B801115149',
 '202402C1801132090',
 '202202E201297512',
 '202402E101356311',
 '202402D601307858',
 '202402E1001179160',
 '202202B501290772',
 '202302E1301521228',
 '202202D302657812',
 '202302A1801927507',
 '202402B1601131742',
 '202402F1201315533',
 '202402E901163144',
 '202202A1501230829',
 '202302B1001129721',
 '202302C1502813393',
 '202402A1201241707',
 '202302F101968479',
 '202402D801748886',
 '202402C1102254400',
 '202402B201317470',
 '202202A602207641',
 '202402B101938680',
 '202302F201244676',
 '202302C1401466789',
 '202302F901987448',
 '202202D1401138938',
 '202202B302731350',
 '202202C102223243',
 '202202C2201217456',
 '202402D1201767228',
 '202402E1201290167',
 '202402A1901159184',
 '202202A501223919',
 '202402E401651754',
 '202302A801305305',
 '202202A1002110304',
 '202302C1901335849',
 '202202B701240388',
 '202402D2001152626',
 '202202E701236217',
 '202202A1101302656',
 '202202F802987140',
 '202402F501168754',
 '202202C1301286491',
 '202402D701299670',
 '202402D1001178925',
 '202302A401113504',
 '202402F701162485',
 '202402C2001275678',
 '202202B1401226233',
 '202402E1102128092',
 '202402B1201279945',
 '202202B401384147',
 '202202F602305637',
 '202202C2101117723',
 '202302A1401622676',
 '202302C2301320839',
 '202202C1601195229',
 '202202D1701182164',
 '202402D2101203838',
 '202202C301290842',
 '202202A1301127511',
 '202202C201250005',
 '202402E1401327550',
 '202202F1402326018',
 '202202D501219378',
 '202202F1001197538',
 '202402D1801213034',
 '202202F402101679',
 '202402D402143678',
 '202202B1301492479',
 '202402A1601308211',
 '202302D1901106684',
 '202402F1601271253',
 '202202C2402312923',
 '202202B1101246542',
 '202402B1501327618',
 '202402C401424971',
 '202202F301263245',
 '202202E801189745',
 '202205F1201285985',
 '202305E1301295371',
 '202205D2601280272',
 '202305A701116633',
 '202205E1601109221',
 '202205G1302218270',
 '202405D2401218543',
 '202305C801166506',
 '202205A1902132188',
 '202405F1101100006',
 '202405G1101135940',
 '202405D1301942024',
 '202405E601225422',
 '202205B101264950',
 '202305E1901143096',
 '202405E1801312459',
 '202405E2101107242',
 '202405E101509831',
 '202205E1402246535',
 '202305B1301190727',
 '202305A1802852992',
 '202205G1202279697',
 '202405A1101349923',
 '202205E801236358',
 '202405D2901241198',
 '202205D2501144382',
 '202205D2701175617',
 '202405G1401159917',
 '202405D1402221098',
 '202205B701776582',
 '202205A1601283628',
 '202405C201742307',
 '202205F1601256348',
 '202205F1402314072',
 '202405F101738229',
 '202305D1502256196',
 '202205F1501284189',
 '202205G801109789',
 '202405G101900114',
 '202405E1501336632',
 '202305F401134483',
 '202205D2801832921',
 '202205C501321139',
 '202405G301318301',
 '202205E1001361193',
 '202205A1502216446',
 '202205G602366386',
 '202205G201787901',
 '202205G1601222543',
 '202205A1201200089',
 '202205E1101186690',
 '202405B301740155',
 '202405B501315121',
 '202405G1501196476',
 '202205B1001253528',
 '202205G1002295821',
 '202205G402280480',
 '202205D601850713',
 '202305D1701234031',
 '202305B1501329570',
 '202405E501623818',
 '202205D1101531840',
 '202405E401207239',
 '202205D1901102592',
 '202305A401283221',
 '202205A301113441',
 '202205E901197032',
 '202405C302446920',
 '202405C701140964',
 '202205F301332759',
 '202205B801111631',
 '202205A1701526396',
 '202305A101308240',
 '202405E202112760',
 '202205E1701140408',
 '202205D1001560152',
 '202405G1701145656',
 '202305D1601150735',
 '202405A802133750',
 '202405D2002141807',
 '202405F901292073',
 '202405D2302117470',
 '202205D301288532',
 '202205C1001480756',
 '202405A501461539',
 '202205D2101461062',
 '202305F201111697',
 '202205F1301207251',
 '202405C1401265608',
 '202305B1402169207',
 '202405G1802152074',
 '202305A601188975',
 '202205B201199793',
 '202405B1601121577',
 '202305G901277825',
 '202305G701174259',
 '202305E2001336624',
 '202305C101495013',
 '202205F802178239',
 '202405F501327312',
 '202305C1101330232',
 '202305C601277661',
 '202405C401119285',
 '202205A901273746',
 '202405F602312162',
 '202205D701240051',
 '202305D1801316217',
 '202405B1701321590',
 '202305D902220197',
 '202205B1201263787',
 '202405C1301493744',
 '202405A1001116809',
 '202405F1702232944',
 '202205B601145862',
 '202205C901167922',
 '202305E301366610',
 '202205D801632854',
 '202305D1201575549',
 '202305A1401246523',
 '202405A1301163228',
 '202405F1001240087',
 '202205D2202159875',
 '202405B1101324358',
 '202305E701166824',
 '202205B401648434',
 '202205D201232212',
 '202205C1201237014',
 '202405D101234747',
 '202405F701297344',
 '202205G501188148',
 '202205E1201125278',
 '202305A2001271174',
 '202405D502112396',
 '202405B1801142744',
 '202405A201105583',
 '202205B901102355',
 '202405D401187664',
 '202206C202130077',
 '202206D2901210426',
 '202206E1702128836',
 '202206E901169493',
 '202406A201144730',
 '202306A601106544',
 '202306A501336471',
 '202206D702780727',
 '202206C101559067',
 '202406E602319818',
 '202206B901124420',
 '202406E1601259473',
 '202206A1501283043',
 '202306D1001176872',
 '202206A1102254803',
 '202406E1301239003',
 '202206B401226126',
 '202406F801229024',
 '202406D2702336165',
 '202406E1801595594',
 '202406D1801201195',
 '202406D1501233222',
 '202406E1401186634',
 '202306B1101122700',
 '202306C801324025',
 '202206A701138450',
 '202406D1301203708',
 '202206F1201303738',
 '202206D1201923432',
 '202406E1901234715',
 '202406A301778260',
 '202306D2001184176',
 '202406E102237069',
 '202206E1502287930',
 '202406C501192063',
 '202206E201339961',
 '202206C401350998',
 '202206D801254703',
 '202206E701171270',
 '202206D501839185',
 '202206A802223259',
 '202406B1701679487',
 '202206D2601316002',
 '202406A1201167551',
 '202406C901313408',
 '202206A1301465933',
 '202206D2302190663',
 '202206A901269732',
 '202406A2001143554',
 '202206F901264793',
 '202206F1102132096',
 '202406E1201136649',
 '202206B1502254951',
 '202206D1101114395',
 '202406E2101215629',
 '202306E1101201702',
 '202206B1302154200',
 '202306E1001202558',
 '202406A1701251650',
 '202206A1601925302',
 '202206E2001801822',
 '202406C1401172450',
 '202406D2501255607',
 '202206D102117970',
 '202406B1201104445',
 '202306F301272813',
 '202206D1601169629',
 '202306C1201110502',
 '202406F502120811',
 '202206B801308195',
 '202406F1001214014',
 '202206B601226954',
 '202406B501144336',
 '202206F101329788',
 '202206A1401338695',
 '202206B201218297',
 '202406D201148732',
 '202206F1302338233',
 '202406A1901177085',
 '202306C302955398',
 '202206E801280652',
 '202406D2801403533',
 '202406F401113300',
 '202206C701571492',
 '202206C1001297572',
 '202306B1601181587',
 '202306C1101653287',
 '202306D2201203796',
 '202206D901196388',
 '202406A1801210953',
 '202306D301735124',
 '202406D1901170712',
 '202206D2401226968',
 '202206B301294309',
 '202206E401708348',
 '202206D601191240',
 '202206F201195965',
 '202206B1801196806',
 '202206B1001110151',
 '202206E501337440',
 '202406F601263064',
 '202306D401115813',
 '202406B101897168',
 '202406D1701301372',
 '202406D2101241196',
 '202206F1702240926',
 '202406F1401144992',
 '202206E301202951',
 '202206C1301284351',
 '202406A401298954',
 '202306F701120139',
 '202406A102244727',
 '202306F1601599036',
 '202206B701220346',
 '202306C601771793',
 '202206F1501125594',
 '202306A1001204032',
 '202206B1401296048',
 '202306D1402203158']

In [ ]:
df_resident['res_id'] = id_fix
df_resident

,Name,Gender,Block,Cluster,year_of_inhabited,own_status,res_id
0,ridha ulva,f,A14,Ancol,2022,Owner,202203A1401484221
1,rizqi wahyuningsih,f,B19,Ancol,2022,Rent,202203B1902780908
2,ruwadi saputra,m,C12,Ancol,2023,Owner,202303C1201119547
3,sugeng hermawan,m,D3,Ancol,2024,Rent,202403D302160049
4,suliatun,f,C1,Ancol,2022,Owner,202203C101563316
...,...,...,...,...,...,...,...
784,sutiti,f,C6,Thamrin,2023,Owner,202306C601771793
785,jefri setiadi,m,F15,Thamrin,2022,Owner,202206F1501125594
786,dwi maryani,f,A10,Thamrin,2023,Owner,202306A1001204032
787,krisno tri widodo,m,B14,Thamrin,2022,Owner,202206B1401296048
788,katiman,m,D14,Thamrin,2023,Rent,202306D1402203158

In [ ]:
df_resident.to_csv('resident_block.csv', index=False)

In [ ]:
df_resident_id = df_resident[['res_id','Name', 'own_status']]
df_resident_id

                res_id                Name own_status
0    202203A1401484221          ridha ulva      Owner
1    202203B1902780908  rizqi wahyuningsih       Rent
2    202303C1201119547      ruwadi saputra      Owner
3     202403D302160049     sugeng hermawan       Rent
4     202203C101563316            suliatun      Owner
..                 ...                 ...        ...
784   202306C601771793              sutiti      Owner
785  202206F1501125594       jefri setiadi      Owner
786  202306A1001204032         dwi maryani      Owner
787  202206B1401296048   krisno tri widodo      Owner
788  202306D1402203158             katiman       Rent

[789 rows x 3 columns]

In [ ]:
df_resident_id.to_csv('resident_id.csv', index=False)

# Add general resident info

In [3]:
df_resident_info = pd.read_csv('resident_id.csv')
df_resident_block = pd.read_csv('resident_block.csv')

In [4]:
# Adding age to database 
age = np.random.randint(low=25, high=46, size=789)
age

array([44, 37, 25, 36, 28, 40, 31, 34, 36, 41, 32, 27, 27, 26, 43, 29, 29,
       40, 41, 36, 30, 26, 27, 29, 27, 45, 36, 45, 44, 39, 29, 28, 27, 45,
       45, 35, 42, 38, 25, 29, 29, 29, 38, 43, 36, 33, 26, 39, 31, 33, 37,
       27, 25, 45, 41, 26, 36, 43, 44, 32, 38, 33, 28, 27, 33, 44, 28, 44,
       25, 25, 27, 30, 39, 41, 41, 37, 41, 44, 39, 35, 36, 28, 40, 43, 45,
       28, 33, 28, 45, 30, 27, 34, 44, 27, 38, 31, 26, 33, 39, 39, 32, 41,
       35, 39, 30, 26, 39, 28, 33, 25, 38, 36, 42, 43, 34, 32, 42, 25, 29,
       40, 37, 32, 41, 37, 35, 26, 29, 35, 42, 28, 28, 28, 31, 25, 31, 29,
       28, 33, 45, 43, 39, 36, 39, 42, 33, 28, 39, 44, 39, 36, 25, 30, 29,
       27, 36, 45, 35, 44, 26, 40, 28, 35, 40, 27, 42, 26, 31, 37, 38, 27,
       30, 38, 31, 44, 43, 37, 43, 30, 41, 42, 38, 25, 42, 44, 40, 33, 26,
       35, 28, 34, 45, 37, 34, 36, 35, 26, 29, 29, 40, 39, 31, 30, 38, 32,
       43, 39, 36, 33, 29, 36, 29, 26, 42, 34, 33, 28, 39, 28, 25, 43, 28,
       36, 42, 35, 45, 33, 36, 44, 27, 35, 30, 25, 42, 34, 45, 37, 29, 39,
       25, 26, 31, 29, 44, 36, 44, 28, 29, 30, 25, 37, 45, 36, 37, 30, 31,
       42, 37, 43, 41, 35, 39, 29, 25, 34, 37, 43, 45, 37, 41, 39, 28, 36,
       27, 41, 41, 28, 41, 40, 35, 36, 25, 36, 26, 36, 34, 44, 39, 39, 43,
       30, 44, 43, 42, 36, 31, 41, 30, 25, 28, 25, 34, 43, 39, 42, 32, 28,
       40, 44, 45, 42, 30, 30, 41, 29, 35, 34, 45, 45, 27, 33, 31, 32, 35,
       36, 41, 34, 36, 43, 40, 42, 29, 29, 28, 45, 37, 26, 27, 29, 27, 25,
       25, 33, 36, 41, 30, 28, 35, 26, 27, 26, 44, 26, 39, 31, 28, 31, 40,
       43, 38, 42, 25, 38, 39, 35, 26, 42, 41, 45, 29, 39, 35, 37, 40, 31,
       39, 37, 27, 26, 37, 28, 26, 41, 38, 30, 44, 31, 37, 33, 29, 32, 32,
       35, 36, 27, 27, 39, 30, 34, 26, 34, 35, 29, 37, 45, 38, 38, 31, 42,
       29, 37, 37, 29, 45, 25, 35, 25, 27, 44, 44, 38, 39, 32, 38, 33, 28,
       38, 44, 31, 41, 40, 39, 28, 42, 35, 33, 27, 37, 43, 29, 28, 28, 27,
       27, 43, 33, 39, 38, 28, 42, 41, 40, 34, 32, 26, 41, 34, 44, 40, 38,
       32, 40, 25, 35, 36, 39, 31, 31, 43, 28, 42, 37, 27, 32, 37, 40, 39,
       39, 41, 40, 33, 25, 34, 33, 45, 32, 29, 44, 31, 25, 33, 45, 34, 26,
       38, 31, 42, 35, 42, 25, 31, 28, 27, 32, 34, 33, 27, 34, 25, 36, 36,
       28, 30, 28, 27, 42, 38, 38, 38, 42, 35, 38, 28, 37, 45, 26, 25, 35,
       26, 42, 31, 32, 40, 45, 38, 36, 42, 35, 41, 32, 34, 42, 28, 35, 32,
       34, 42, 34, 45, 32, 28, 35, 25, 35, 27, 34, 37, 27, 27, 25, 39, 42,
       40, 30, 34, 34, 28, 25, 27, 25, 32, 44, 44, 41, 36, 34, 39, 33, 39,
       36, 35, 40, 29, 41, 45, 38, 45, 31, 28, 41, 40, 34, 25, 40, 38, 36,
       37, 31, 37, 42, 25, 37, 34, 26, 44, 37, 36, 34, 43, 41, 25, 30, 26,
       33, 39, 33, 30, 36, 44, 29, 36, 43, 27, 42, 27, 31, 29, 31, 28, 38,
       35, 38, 39, 38, 35, 41, 37, 30, 44, 31, 37, 31, 43, 38, 40, 38, 43,
       26, 39, 43, 36, 44, 26, 42, 33, 38, 44, 28, 45, 36, 29, 33, 28, 25,
       27, 36, 26, 28, 36, 32, 33, 26, 34, 44, 28, 31, 35, 32, 37, 27, 31,
       35, 43, 31, 25, 31, 40, 45, 31, 41, 25, 33, 38, 25, 33, 25, 36, 40,
       31, 45, 28, 40, 27, 25, 33, 45, 38, 42, 26, 36, 44, 29, 36, 39, 32,
       27, 29, 40, 34, 30, 38, 30, 42, 27, 29, 31, 28, 38, 42, 41, 43, 33,
       27, 42, 36, 45, 30, 30, 39, 27, 29, 40, 44, 42, 34, 38, 27, 33, 45,
       40, 37, 29, 30, 43, 27, 28, 26, 33, 42, 39, 38, 41, 32, 41, 26, 37,
       27, 43, 28, 31, 35, 27, 38, 39, 29, 38, 37, 44, 33, 33, 43, 29, 41,
       42, 45, 32, 35, 41, 45, 31], dtype=int32)

In [4]:
df_resident_info['age'] = age
df_resident_info

                res_id                Name own_status  age
0    202203A1401484221          ridha ulva      Owner   27
1    202203B1902780908  rizqi wahyuningsih       Rent   40
2    202303C1201119547      ruwadi saputra      Owner   28
3     202403D302160049     sugeng hermawan       Rent   45
4     202203C101563316            suliatun      Owner   33
..                 ...                 ...        ...  ...
784   202306C601771793              sutiti      Owner   36
785  202206F1501125594       jefri setiadi      Owner   36
786  202306A1001204032         dwi maryani      Owner   33
787  202206B1401296048   krisno tri widodo      Owner   37
788  202306D1402203158             katiman       Rent   37

[789 rows x 4 columns]

In [5]:
df_resident_user = df_resident_info.drop(columns=['own_status','age'])
df_resident_user

                res_id                Name
0    202203A1401484221          ridha ulva
1    202203B1902780908  rizqi wahyuningsih
2    202303C1201119547      ruwadi saputra
3     202403D302160049     sugeng hermawan
4     202203C101563316            suliatun
..                 ...                 ...
784   202306C601771793              sutiti
785  202206F1501125594       jefri setiadi
786  202306A1001204032         dwi maryani
787  202206B1401296048   krisno tri widodo
788  202306D1402203158             katiman

[789 rows x 2 columns]

In [6]:
df_resident_info['sex'] = df_resident_block['Gender']
df_resident_info

                res_id                Name own_status  age sex
0    202203A1401484221          ridha ulva      Owner   27   f
1    202203B1902780908  rizqi wahyuningsih       Rent   40   f
2    202303C1201119547      ruwadi saputra      Owner   28   m
3     202403D302160049     sugeng hermawan       Rent   45   m
4     202203C101563316            suliatun      Owner   33   f
..                 ...                 ...        ...  ...  ..
784   202306C601771793              sutiti      Owner   36   f
785  202206F1501125594       jefri setiadi      Owner   36   m
786  202306A1001204032         dwi maryani      Owner   33   f
787  202206B1401296048   krisno tri widodo      Owner   37   m
788  202306D1402203158             katiman       Rent   37   m

[789 rows x 5 columns]

In [8]:
# adding phone number 
prov = ['0812','0821','0813','0852','0856','0817','0818']
rand_prov = random.choices(prov, weights=[110, 166, 56, 74, 113, 155, 115], k=789)

rand_num = []

for i in range(789):
  rand_num.append(str(uuid.uuid4().int)[:8])
  

num_fix = []
num = np.c_[rand_prov,rand_num]

for i in num:
  num_fix.append(''.join(i))
  

df_resident_info['phone_number'] = num_fix
df_resident_info

                res_id                Name own_status  age sex  phone_number
0    202203A1401484221          ridha ulva      Owner   27   f  081226323643
1    202203B1902780908  rizqi wahyuningsih       Rent   40   f  081812892732
2    202303C1201119547      ruwadi saputra      Owner   28   m  085622339854
3     202403D302160049     sugeng hermawan       Rent   45   m  082124651008
4     202203C101563316            suliatun      Owner   33   f  081857731152
..                 ...                 ...        ...  ...  ..           ...
784   202306C601771793              sutiti      Owner   36   f  081746676774
785  202206F1501125594       jefri setiadi      Owner   36   m  081729388620
786  202306A1001204032         dwi maryani      Owner   33   f  085251719758
787  202206B1401296048   krisno tri widodo      Owner   37   m  085620695962
788  202306D1402203158             katiman       Rent   37   m  082146758427

[789 rows x 6 columns]

In [1]:
# adding  work field and company 
work_field = ['perkebunan','perikanan dan peternakan','pertambangan, minyak, dan gas','pengolahan industri',
              'konstruksi','otomotif','logistik','teknologi dan informasi','aktifitas profesional, ilmiah, dan teknis',
              'keuangan dan asuransi','properti','perdagangan umum','Administasi dan manajemen','transportasi','pendidikan',
              'kesehatan', 'hukum', 'media', 'hiburan dan hospitality']

occup = ['karyawan swasta','PNS','pegawai BUMN','wirausaha','dokter','perawat','pengacara','wartawan','guru']


kerjaan = {
            'perkebunan':['karyawan swasta','pegawai BUMN', 'PNS', 'wirausaha'],
            'perikanan dan peternakan': ['wirausaha','PNS', 'karyawan swasta'],
            'pertambangan, minyak, dan gas' : ['PNS','karyawan swasta', 'pegawai BUMN'],
            'pengolahan industri': ['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'konstruksi':['karyawan swasta', 'pegawai BUMN', 'PNS', 'wirausaha'],
            'otomotif':['karyawan swasta','wirausaha'],
            'logistik':['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'teknologi dan informasi':['PNS','karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'aktifitas profesional, ilmiah, dan teknis': ['karyawan swasta', 'wirausaha'],
            'keuangan dan asuransi':['karyawan swasta', 'pegawai BUMN', 'wirausaha', 'PNS'],
            'properti':['karyawan swasta', 'wirausaha', 'PNS'],
            'perdagangan umum':['karyawan swasta', 'wirausaha', 'pegawai BUMN'],
            'Administasi dan manajemen':['karyawan swasta','pegawai BUMN', 'PNS'],
            'transportasi':['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'pendidikan':['karyawan swasta', 'guru'],
            'kesehatan':['dokter', 'perawat', 'PNS', 'pegawai BUMN'],
            'hukum':['pengacara', 'karyawan swasta', 'pegawai BUMN', 'PNS'], 
            'media':['karyawan swasta', 'wartawan'],
            'hiburan dan hospitality':['karyawan swasta', 'wirausaha']
          }

rand_work_field = random.choices(work_field, weights=[5, 11, 15, 29, 13, 15, 12, 72, 10, 67, 49, 33, 70, 10, 23, 9, 40, 10, 7], k=500)

df_non_resident_info['work_field'] = rand_work_field

occupation = []
for i in df_non_resident_info['work_field']:
        occupation.append(random.choice(kerjaan[i]))
        
df_non_resident_info['occupation'] = occupation
df_non_resident_info

NameError: name 'random' is not defined

In [5]:
df_info = pd.read_csv('df_resident_info.csv')

In [6]:
df_info

,res_id,age,sex,phone_number,marital_status,asal_kota,asal_provinsi
0,202203A1401484221,31,f,81710322699,kawin,KABUPATEN SAMBAS,KALIMANTAN BARAT
1,202203B1902780908,30,f,81285210057,kawin,KOTA SUKABUMI,JAWA BARAT
2,202303C1201119547,39,m,85218469647,cerai mati,KABUPATEN BENER MERIAH,ACEH
3,202403D302160049,30,m,82139816931,kawin,KABUPATEN SUMENEP,JAWA TIMUR
4,202203C101563316,25,f,82119094223,belum kawin,KABUPATEN PROBOLINGGO,JAWA TIMUR
...,...,...,...,...,...,...,...
784,202306C601771793,35,f,81715507531,kawin,KOTA BANDA ACEH,ACEH
785,202206F1501125594,44,m,82117929241,kawin,KABUPATEN PANGANDARAN,JAWA BARAT
786,202306A1001204032,25,f,85682060265,belum kawin,KOTA BANDUNG,JAWA BARAT
787,202206B1401296048,27,m,81254954600,belum kawin,KABUPATEN KOTA BARU,KALIMANTAN SELATAN
788,202306D1402203158,40,m,81733404074,kawin,KABUPATEN SAMPANG,JAWA TIMUR

In [7]:
df_info = df_info.drop(['asal_kota','asal_provinsi'], axis=1)

In [8]:
tel = df_info['phone_number'].apply(str)
tel = '0' + tel
tel

0      081710322699
1      081285210057
2      085218469647
3      082139816931
4      082119094223
           ...
784    081715507531
785    082117929241
786    085682060265
787    081254954600
788    081733404074
Name: phone_number, Length: 789, dtype: object

In [9]:
df_info['phone_number'] = tel 
df_info

                res_id  age sex  phone_number marital_status
0    202203A1401484221   31   f  081710322699          kawin
1    202203B1902780908   30   f  081285210057          kawin
2    202303C1201119547   39   m  085218469647     cerai mati
3     202403D302160049   30   m  082139816931          kawin
4     202203C101563316   25   f  082119094223    belum kawin
..                 ...  ...  ..           ...            ...
784   202306C601771793   35   f  081715507531          kawin
785  202206F1501125594   44   m  082117929241          kawin
786  202306A1001204032   25   f  085682060265    belum kawin
787  202206B1401296048   27   m  081254954600    belum kawin
788  202306D1402203158   40   m  081733404074          kawin

[789 rows x 5 columns]

In [15]:
df_info.to_csv('df_info.csv', index=False)

In [4]:
# adding kota asal
df_daerah_kota = pd.read_csv('provinsi\kabupaten.csv')
df_daerah_prov = pd.read_csv('provinsi\provinsi.csv')

In [10]:
df_kota_prov = pd.merge(df_daerah_kota,df_daerah_prov, left_on='parent_code', right_on='code', how='inner', 
                        left_index=False, right_index=False, suffixes=('_kota', '_prov'))

df_kota_prov = df_kota_prov[['name_kota','name_prov']]
df_kota_prov

                   name_kota name_prov
0         KABUPATEN SIMEULUE      ACEH
1     KABUPATEN ACEH SINGKIL      ACEH
2     KABUPATEN ACEH SELATAN      ACEH
3    KABUPATEN ACEH TENGGARA      ACEH
4       KABUPATEN ACEH TIMUR      ACEH
..                       ...       ...
509         KABUPATEN PUNCAK     PAPUA
510        KABUPATEN DOGIYAI     PAPUA
511     KABUPATEN INTAN JAYA     PAPUA
512         KABUPATEN DEIYAI     PAPUA
513            KOTA JAYAPURA     PAPUA

[514 rows x 2 columns]

In [12]:
df_kota_prov_filter = df_kota_prov[df_kota_prov['name_prov'].isin(['SUMATRA UTARA', 'SUMATRA SELATAN', 'LAMPUNG',
                                                    'BANTEN', 'JAWA BARAT', 'DKI JAKARTA', 'JAWA TENGAH', 
                                                    'JAWA TIMUR'])]

df_kota_prov_res =  df_kota_prov_filter[df_kota_prov_filter['name_kota'].isin(['KOTA MEDAN', 'KOTA PALEMBANG', 'KOTA BANDAR LAMPUNG', 'KOTA JAKARTA SELATAN', 'KOTA JAKARTA TIMUR', 'KOTA JAKARTA PUSAT',
                                                                                       'KOTA JAKARTA BARAT','KOTA JAKARTA UTARA	','KABUPATEN BOGOR',
                                                                                       'KOTA BOGOR', 'KOTA BEKASI', 'KOTA DEPOK', 'KOTA TANGERANG',
                                                                                       'KOTA TANGERANG SELATAN', 'KOTA BANDUNG', 'KABUPATEN BANDUNG', 'SEMARANG',
                                                                                       'KABUPATEN TEGAL', 'KABUPATEN SEMARANG','KABUPATEN KLATEN', 'KABUPATEN BOYOLALI',
                                                                                       'KOTA SURAKARTA', 'KOTA SURABAYA', 'KOTA MALANG'])]

df_kota_prov_res

                  name_kota    name_prov
138     KOTA BANDAR LAMPUNG      LAMPUNG
155    KOTA JAKARTA SELATAN  DKI JAKARTA
156      KOTA JAKARTA TIMUR  DKI JAKARTA
157      KOTA JAKARTA PUSAT  DKI JAKARTA
158      KOTA JAKARTA BARAT  DKI JAKARTA
160         KABUPATEN BOGOR   JAWA BARAT
163       KABUPATEN BANDUNG   JAWA BARAT
178              KOTA BOGOR   JAWA BARAT
180            KOTA BANDUNG   JAWA BARAT
182             KOTA BEKASI   JAWA BARAT
183              KOTA DEPOK   JAWA BARAT
195      KABUPATEN BOYOLALI  JAWA TENGAH
196        KABUPATEN KLATEN  JAWA TENGAH
208      KABUPATEN SEMARANG  JAWA TENGAH
214         KABUPATEN TEGAL  JAWA TENGAH
217          KOTA SURAKARTA  JAWA TENGAH
258             KOTA MALANG   JAWA TIMUR
263           KOTA SURABAYA   JAWA TIMUR
269          KOTA TANGERANG       BANTEN
272  KOTA TANGERANG SELATAN       BANTEN

In [13]:
asal = []
kota_list = df_kota_prov_res.values.tolist()

for i in range(789):
    asal.append(random.choice(kota_list))

df_asal = pd.DataFrame(asal, columns=['asal_kota','asal_provinsi'])

In [14]:
df_info = pd.concat([df_info,df_asal], axis=1)
df_info

,res_id,age,sex,phone_number,marital_status,asal_kota,asal_provinsi
0,202203A1401484221,31,f,081710322699,kawin,KABUPATEN BOYOLALI,JAWA TENGAH
1,202203B1902780908,30,f,081285210057,kawin,KOTA SURAKARTA,JAWA TENGAH
2,202303C1201119547,39,m,085218469647,cerai mati,KABUPATEN BOYOLALI,JAWA TENGAH
3,202403D302160049,30,m,082139816931,kawin,KOTA SURABAYA,JAWA TIMUR
4,202203C101563316,25,f,082119094223,belum kawin,KABUPATEN BANDUNG,JAWA BARAT
...,...,...,...,...,...,...,...
784,202306C601771793,35,f,081715507531,kawin,KOTA BANDAR LAMPUNG,LAMPUNG
785,202206F1501125594,44,m,082117929241,kawin,KOTA MALANG,JAWA TIMUR
786,202306A1001204032,25,f,085682060265,belum kawin,KOTA DEPOK,JAWA BARAT
787,202206B1401296048,27,m,081254954600,belum kawin,KOTA JAKARTA PUSAT,DKI JAKARTA
788,202306D1402203158,40,m,081733404074,kawin,KOTA TANGERANG,BANTEN

In [15]:
df_info.to_csv('df_resident_info.csv', index=False)

In [22]:
# create occupation df
# adding occupation field
# adding  work field and company 
work_field = ['perkebunan','perikanan dan peternakan','pertambangan, minyak, dan gas','pengolahan industri','konstruksi','otomotif','logistik','teknologi dan informasi','aktifitas profesional, ilmiah, dan teknis','keuangan dan asuransi','properti','perdagangan umum','Administasi dan manajemen','transportasi','pendidikan','kesehatan', 'hukum', 'media']
occup = ['karyawan swasta','PNS','pegawai BUMN','wirausaha','dokter','perawat','pengacara','wartawan','guru']


kerjaan = {
            'perkebunan':['karyawan swasta','pegawai BUMN', 'PNS', 'wirausaha'],
            'perikanan dan peternakan': ['wirausaha','PNS', 'karyawan swasta'],
            'pertambangan, minyak, dan gas' : ['PNS','karyawan swasta', 'pegawai BUMN'],
            'pengolahan industri': ['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'konstruksi':['karyawan swasta', 'pegawai BUMN', 'PNS', 'wirausaha'],
            'otomotif':['karyawan swasta','wirausaha'],
            'logistik':['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'teknologi dan informasi':['PNS','karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'aktifitas profesional, ilmiah, dan teknis': ['karyawan swasta', 'wirausaha'],
            'keuangan dan asuransi':['karyawan swasta', 'pegawai BUMN', 'wirausaha', 'PNS'],
            'properti':['karyawan swasta', 'wirausaha', 'PNS'],
            'perdagangan umum':['karyawan swasta', 'wirausaha', 'pegawai BUMN'],
            'Administasi dan manajemen':['karyawan swasta','pegawai BUMN', 'PNS'],
            'transportasi':['karyawan swasta', 'pegawai BUMN', 'wirausaha'],
            'pendidikan':['karyawan swasta', 'guru'],
            'kesehatan':['dokter', 'perawat', 'PNS', 'pegawai BUMN'],
            'hukum':['pengacara', 'karyawan swasta', 'pegawai BUMN', 'PNS'], 
            'media':['karyawan swasta', 'wartawan']
          }

rand_work_field = random.choices(work_field, weights=[5, 11, 15, 70, 20, 15, 12, 138, 10, 124, 49, 57, 150, 10, 23, 30, 40, 10], k=789)

df_info['work_field'] = rand_work_field

occupation = []
for i in df_info['work_field']:
        occupation.append(random.choice(kerjaan[i]))
        
df_info['occupation'] = occupation
df_info

,res_id,age,sex,phone_number,marital_status,asal_kota,asal_provinsi,work_field,occupation
0,202203A1401484221,31,f,81710322699,kawin,KABUPATEN SAMBAS,KALIMANTAN BARAT,pengolahan industri,pegawai BUMN
1,202203B1902780908,30,f,81285210057,kawin,KOTA SUKABUMI,JAWA BARAT,Administasi dan manajemen,pegawai BUMN
2,202303C1201119547,39,m,85218469647,cerai mati,KABUPATEN BENER MERIAH,ACEH,teknologi dan informasi,pegawai BUMN
3,202403D302160049,30,m,82139816931,kawin,KABUPATEN SUMENEP,JAWA TIMUR,teknologi dan informasi,wirausaha
4,202203C101563316,25,f,82119094223,belum kawin,KABUPATEN PROBOLINGGO,JAWA TIMUR,otomotif,karyawan swasta
...,...,...,...,...,...,...,...,...,...
784,202306C601771793,35,f,81715507531,kawin,KOTA BANDA ACEH,ACEH,pengolahan industri,karyawan swasta
785,202206F1501125594,44,m,82117929241,kawin,KABUPATEN PANGANDARAN,JAWA BARAT,hukum,karyawan swasta
786,202306A1001204032,25,f,85682060265,belum kawin,KOTA BANDUNG,JAWA BARAT,perdagangan umum,wirausaha
787,202206B1401296048,27,m,81254954600,belum kawin,KABUPATEN KOTA BARU,KALIMANTAN SELATAN,pengolahan industri,wirausaha
788,202306D1402203158,40,m,81733404074,kawin,KABUPATEN SAMPANG,JAWA TIMUR,Administasi dan manajemen,pegawai BUMN

In [74]:
kerjaan['perkebunan']

['karyawan swasta', 'pegawai BUMN', 'PNS', 'wirausaha']

In [24]:
df_occu = df_info[['res_id', 'age','work_field', 'occupation']]
df_occu

                res_id  age                 work_field       occupation
0    202203A1401484221   31        pengolahan industri     pegawai BUMN
1    202203B1902780908   30  Administasi dan manajemen     pegawai BUMN
2    202303C1201119547   39    teknologi dan informasi     pegawai BUMN
3     202403D302160049   30    teknologi dan informasi        wirausaha
4     202203C101563316   25                   otomotif  karyawan swasta
..                 ...  ...                        ...              ...
784   202306C601771793   35        pengolahan industri  karyawan swasta
785  202206F1501125594   44                      hukum  karyawan swasta
786  202306A1001204032   25           perdagangan umum        wirausaha
787  202206B1401296048   27        pengolahan industri        wirausaha
788  202306D1402203158   40  Administasi dan manajemen     pegawai BUMN

[789 rows x 4 columns]

In [40]:
title = ['staff','leader','spv','manager', 'senior manager', 'direktur']

title_rand = []
for i in df_occu['occupation']:
    if i == 'wirausaha':
        title_rand.append('owner')
    else:
        for j in df_occu['age']:
            if j <=34:
                title_rand.append(random.choice(title[:2]))
            if j >34 and j <=40:
                title_rand.append(random.choice(title[1:4]))
            elif j>40:
                title_rand.append(random.choice(title[4:]))
                
title_rand

['staff',
 'staff',
 'spv',
 'leader',
 'staff',
 'staff',
 'staff',
 'staff',
 'leader',
 'leader',
 'spv',
 'direktur',
 'direktur',
 'direktur',
 'staff',
 'manager',
 'staff',
 'spv',
 'senior manager',
 'direktur',
 'spv',
 'senior manager',
 'staff',
 'direktur',
 'direktur',
 'senior manager',
 'direktur',
 'staff',
 'leader',
 'leader',
 'senior manager',
 'staff',
 'staff',
 'staff',
 'staff',
 'direktur',
 'manager',
 'leader',
 'leader',
 'spv',
 'staff',
 'manager',
 'direktur',
 'staff',
 'manager',
 'staff',
 'senior manager',
 'senior manager',
 'leader',
 'spv',
 'leader',
 'staff',
 'leader',
 'manager',
 'senior manager',
 'senior manager',
 'senior manager',
 'senior manager',
 'senior manager',
 'spv',
 'leader',
 'staff',
 'staff',
 'senior manager',
 'staff',
 'leader',
 'senior manager',
 'leader',
 'leader',
 'leader',
 'leader',
 'staff',
 'leader',
 'leader',
 'staff',
 'leader',
 'leader',
 'leader',
 'staff',
 'staff',
 'leader',
 'manager',
 'direktur',
 'leader',
 'senior manager',
 'spv',
 'staff',
 'leader',
 'spv',
 'senior manager',
 'senior manager',
 'staff',
 'senior manager',
 'leader',
 'senior manager',
 'spv',
 'leader',
 'direktur',
 'senior manager',
 'manager',
 'direktur',
 'manager',
 'leader',
 'direktur',
 'staff',
 'leader',
 'spv',
 'spv',
 'senior manager',
 'leader',
 'senior manager',
 'manager',
 'staff',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'leader',
 'leader',
 'leader',
 'staff',
 'staff',
 'manager',
 'spv',
 'leader',
 'spv',
 'direktur',
 'leader',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'manager',
 'staff',
 'senior manager',
 'direktur',
 'senior manager',
 'staff',
 'leader',
 'leader',
 'manager',
 'leader',
 'leader',
 'staff',
 'direktur',
 'spv',
 'staff',
 'leader',
 'direktur',
 'staff',
 'staff',
 'leader',
 'senior manager',
 'staff',
 'staff',
 'leader',
 'staff',
 'leader',
 'leader',
 'spv',
 'leader',
 'staff',
 'direktur',
 'staff',
 'leader',
 'direktur',
 'staff',
 'senior manager',
 'spv',
 'leader',
 'leader',
 'staff',
 'staff',
 'staff',
 'spv',
 'direktur',
 'leader',
 'leader',
 'manager',
 'direktur',
 'staff',
 'leader',
 'leader',
 'direktur',
 'senior manager',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'manager',
 'direktur',
 'leader',
 'staff',
 'leader',
 'staff',
 'senior manager',
 'direktur',
 'staff',
 'spv',
 'manager',
 'leader',
 'leader',
 'direktur',
 'direktur',
 'senior manager',
 'direktur',
 'leader',
 'leader',
 'spv',
 'leader',
 'direktur',
 'direktur',
 'spv',
 'leader',
 'staff',
 'staff',
 'staff',
 'senior manager',
 'leader',
 'leader',
 'spv',
 'spv',
 'leader',
 'spv',
 'leader',
 'leader',
 'staff',
 'spv',
 'leader',
 'leader',
 'staff',
 'senior manager',
 'leader',
 'leader',
 'leader',
 'staff',
 'spv',
 'senior manager',
 'staff',
 'manager',
 'manager',
 'staff',
 'leader',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'leader',
 'direktur',
 'leader',
 'spv',
 'senior manager',
 'leader',
 'leader',
 'staff',
 'senior manager',
 'staff',
 'staff',
 'staff',
 'leader',
 'staff',
 'leader',
 'manager',
 'spv',
 'senior manager',
 'manager',
 'staff',
 'senior manager',
 'leader',
 'senior manager',
 'leader',
 'manager',
 'leader',
 'direktur',
 'spv',
 'manager',
 'senior manager',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'senior manager',
 'direktur',
 'direktur',
 'direktur',
 'manager',
 'senior manager',
 'senior manager',
 'spv',
 'leader',
 'staff',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'senior manager',
 'staff',
 'leader',
 'senior manager',
 'staff',
 'staff',
 'manager',
 'spv',
 'direktur',
 'leader',
 'leader',
 'manager',
 'leader',
 'staff',
 'leader',
 'spv',
 'spv',
 'leader',
 'senior manager',
 'staff',
 'leader',
 'spv',
 'senior manager',
 'manager',
 'senior manager',
 'staff',
 'staff',
 'direktur',
 'direktur',
 'staff',
 'leader',
 'senior manager',
 'staff',
 'leader',
 'staff',
 'staff',
 'staff',
 'leader',
 'spv',
 'direktur',
 'leader',
 'spv',
 'spv',
 'leader',
 'leader',
 'leader',
 'direktur',
 'staff',
 'direktur',
 'staff',
 'direktur',
 'leader',
 'leader',
 'senior manager',
 'spv',
 'direktur',
 'direktur',
 'staff',
 'spv',
 'leader',
 'staff',
 'staff',
 'leader',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'staff',
 'direktur',
 'senior manager',
 'senior manager',
 'leader',
 'senior manager',
 'staff',
 'staff',
 'spv',
 'spv',
 'spv',
 'spv',
 'senior manager',
 'staff',
 'direktur',
 'manager',
 'staff',
 'leader',
 'spv',
 'leader',
 'leader',
 'leader',
 'leader',
 'spv',
 'staff',
 'leader',
 'leader',
 'leader',
 'leader',
 'direktur',
 'senior manager',
 'leader',
 'staff',
 'manager',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'spv',
 'direktur',
 'leader',
 'staff',
 'manager',
 'direktur',
 'staff',
 'leader',
 'staff',
 'leader',
 'staff',
 'manager',
 'leader',
 'leader',
 'staff',
 'leader',
 'spv',
 'leader',
 'leader',
 'manager',
 'leader',
 'direktur',
 'spv',
 'leader',
 'senior manager',
 'manager',
 'leader',
 'staff',
 'senior manager',
 'leader',
 'manager',
 'manager',
 'staff',
 'leader',
 'staff',
 'direktur',
 'leader',
 'leader',
 'staff',
 'direktur',
 'direktur',
 'leader',
 'staff',
 'spv',
 'direktur',
 'staff',
 'direktur',
 'leader',
 'direktur',
 'leader',
 'staff',
 'direktur',
 'leader',
 'senior manager',
 'leader',
 'direktur',
 'direktur',
 'direktur',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'senior manager',
 'leader',
 'leader',
 'staff',
 'leader',
 'manager',
 'manager',
 'staff',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'manager',
 'leader',
 'staff',
 'staff',
 'senior manager',
 'leader',
 'leader',
 'staff',
 'leader',
 'staff',
 'leader',
 'manager',
 'staff',
 'staff',
 'senior manager',
 'leader',
 'manager',
 'spv',
 'manager',
 'staff',
 'spv',
 'leader',
 'leader',
 'direktur',
 'leader',
 'leader',
 'staff',
 'leader',
 'staff',
 'leader',
 'leader',
 'staff',
 'leader',
 'spv',
 'leader',
 'spv',
 'leader',
 'staff',
 'direktur',
 'direktur',
 'spv',
 'spv',
 'leader',
 'manager',
 'leader',
 'senior manager',
 'leader',
 'staff',
 'leader',
 'leader',
 'direktur',
 'leader',
 'direktur',
 'manager',
 'staff',
 'staff',
 'direktur',
 'leader',
 'leader',
 'leader',
 'spv',
 'senior manager',
 'senior manager',
 'leader',
 'leader',
 'staff',
 'staff',
 'leader',
 'leader',
 'senior manager',
 'direktur',
 'senior manager',
 'staff',
 'leader',
 'manager',
 'staff',
 'spv',
 'leader',
 'leader',
 'staff',
 'manager',
 'direktur',
 'senior manager',
 'direktur',
 'staff',
 'leader',
 'manager',
 'staff',
 'staff',
 'staff',
 'senior manager',
 'staff',
 'leader',
 'leader',
 'staff',
 'staff',
 'staff',
 'leader',
 'senior manager',
 'staff',
 'staff',
 'manager',
 'staff',
 'direktur',
 'leader',
 'senior manager',
 'leader',
 'direktur',
 'staff',
 'senior manager',
 'spv',
 'staff',
 'manager',
 'leader',
 'staff',
 'staff',
 'leader',
 'staff',
 'senior manager',
 'leader',
 'manager',
 'manager',
 'staff',
 'staff',
 'senior manager',
 'direktur',
 'leader',
 'direktur',
 'leader',
 'staff',
 'direktur',
 'direktur',
 'staff',
 'leader',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'manager',
 'direktur',
 'direktur',
 'leader',
 'staff',
 'leader',
 'manager',
 'leader',
 'senior manager',
 'leader',
 'staff',
 'leader',
 'direktur',
 'staff',
 'manager',
 'leader',
 'spv',
 'senior manager',
 'leader',
 'spv',
 'staff',
 'staff',
 'senior manager',
 'leader',
 'leader',
 'staff',
 'staff',
 'senior manager',
 'leader',
 'leader',
 'leader',
 'manager',
 'spv',
 'staff',
 'spv',
 'spv',
 'leader',
 'staff',
 'direktur',
 'leader',
 'direktur',
 'leader',
 'staff',
 'manager',
 'spv',
 'manager',
 'manager',
 'spv',
 'staff',
 'staff',
 'leader',
 'leader',
 'staff',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'leader',
 'staff',
 'senior manager',
 'leader',
 'senior manager',
 'spv',
 'staff',
 'direktur',
 'senior manager',
 'staff',
 'staff',
 'leader',
 'staff',
 'direktur',
 'staff',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'spv',
 'spv',
 'leader',
 'spv',
 'manager',
 'leader',
 'leader',
 'manager',
 'leader',
 'manager',
 'direktur',
 'spv',
 'leader',
 'spv',
 'direktur',
 'direktur',
 'direktur',
 'direktur',
 'leader',
 'senior manager',
 'staff',
 'manager',
 'leader',
 'leader',
 'direktur',
 'staff',
 'leader',
 'manager',
 'senior manager',
 'leader',
 'leader',
 'direktur',
 'spv',
 'senior manager',
 'staff',
 'leader',
 'staff',
 'staff',
 'leader',
 'senior manager',
 'manager',
 'staff',
 'direktur',
 'staff',
 'staff',
 'leader',
 'leader',
 'manager',
 'senior manager',
 'leader',
 'staff',
 'staff',
 'manager',
 'staff',
 'leader',
 'leader',
 'leader',
 'spv',
 'senior manager',
 'staff',
 'leader',
 'staff',
 'spv',
 'direktur',
 'spv',
 'senior manager',
 'staff',
 'leader',
 'leader',
 'staff',
 'staff',
 'manager',
 'leader',
 'direktur',
 'direktur',
 'senior manager',
 'leader',
 'leader',
 'leader',
 'spv',
 'leader',
 'staff',
 'spv',
 'senior manager',
 'staff',
 'leader',
 'direktur',
 'senior manager',
 'spv',
 'direktur',
 'leader',
 'leader',
 'spv',
 'leader',
 'leader',
 'manager',
 'leader',
 'leader',
 'leader',
 'leader',
 'staff',
 'leader',
 'leader',
 'leader',
 'direktur',
 'senior manager',
 'direktur',
 'leader',
 'manager',
 'leader',
 'manager',
 'direktur',
 'senior manager',
 'spv',
 'direktur',
 'staff',
 'direktur',
 'direktur',
 'senior manager',
 'senior manager',
 'staff',
 'staff',
 'leader',
 'direktur',
 'staff',
 'leader',
 'staff',
 'leader',
 'senior manager',
 'manager',
 'leader',
 'leader',
 'manager',
 'leader',
 'spv',
 'direktur',
 'staff',
 'leader',
 'staff',
 'direktur',
 'senior manager',
 'leader',
 'spv',
 'spv',
 'leader',
 'leader',
 'leader',
 'direktur',
 'senior manager',
 'senior manager',
 'direktur',
 'senior manager',
 'spv',
 'staff',
 'leader',
 'staff',
 'direktur',
 'staff',
 'staff',
 'direktur',
 'staff',
 'spv',
 'spv',
 'leader',
 'staff',
 'spv',
 'leader',
 'staff',
 'leader',
 'leader',
 'staff',
 'leader',
 'leader',
 'leader',
 'spv',
 'direktur',
 'spv',
 'senior manager',
 'manager',
 'staff',
 'leader',
 'spv',
 'direktur',
 'direktur',
 'leader',
 'senior manager',
 'leader',
 'senior manager',
 'spv',
 'leader',
 'direktur',
 'senior manager',
 'spv',
 'senior manager',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'leader',
 'manager',
 'spv',
 'direktur',
 'manager',
 'senior manager',
 'spv',
 'staff',
 'leader',
 'leader',
 'leader',
 'leader',
 'leader',
 'staff',
 'leader',
 'spv',
 'leader',
 'staff',
 'leader',
 'spv',
 'spv',
 'leader',
 'senior manager',
 'spv',
 'staff',
 'staff',
 'staff',
 'manager',
 'staff',
 'spv',
 'leader',
 'direktur',
 'direktur',
 'direktur',
 'staff',
 'leader',
 'staff',
 'spv',
 'leader',
 'leader',
 'leader',
 'senior manager',
 'spv',
 'staff',
 'leader',
 'direktur',
 'staff',
 'leader',
 'staff',
 'direktur',
 'staff',
 'staff',
 'leader',
 'staff',
 'staff',
 'staff',
 'spv',
 'leader',
 'leader',
 'senior manager',
 'leader',
 'manager',
 'senior manager',
 'staff',
 'senior manager',
 'spv',
 'leader',
 'spv',
 'leader',
 'staff',
 'staff',
 'leader',
 'direktur',
 'leader',
 'leader',
 'manager',
 'direktur',
 'leader',
 'staff',
 'leader',
 'senior manager',
 'senior manager',
 'staff',
 'staff',
 'spv',
 'spv',
 'leader',
 'spv',
 'direktur',
 'manager',
 'leader',
 'staff',
 'staff',
 'senior manager',
 'senior manager',
 'staff',
 'manager',
 'leader',
 'staff',
 'leader',
 'senior manager',
 'senior manager',
 'direktur',
 'senior manager',
 'staff',
 'staff',
 ...]

In [43]:
len(title_rand)

513777

In [44]:
df_occu['title'] = title_rand[:789]
df_occu

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\3617843272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_occu['title'] = title_rand[:789]

,res_id,age,work_field,occupation,title
0,202203A1401484221,31,pengolahan industri,pegawai BUMN,staff
1,202203B1902780908,30,Administasi dan manajemen,pegawai BUMN,staff
2,202303C1201119547,39,teknologi dan informasi,pegawai BUMN,spv
3,202403D302160049,30,teknologi dan informasi,wirausaha,leader
4,202203C101563316,25,otomotif,karyawan swasta,staff
...,...,...,...,...,...
784,202306C601771793,35,pengolahan industri,karyawan swasta,spv
785,202206F1501125594,44,hukum,karyawan swasta,direktur
786,202306A1001204032,25,perdagangan umum,wirausaha,leader
787,202206B1401296048,27,pengolahan industri,wirausaha,leader
788,202306D1402203158,40,Administasi dan manajemen,pegawai BUMN,spv

In [75]:
#add salary 
# ['staff','leader','spv','manager', 'senior manager', 'direktur']



def salary_func(title_list):
    
    jobs = {
        # 'title': ( min salary, max salary)
        'staff': (4000000, 6599000),
        'leader': (6600000, 8499000),
        'spv': (8500000, 10499000),
        'manager': (10550000, 11999999),
        'senior manager': (12000000, 15499999),
        'direktur':(15500000, 50000000),
        'owner': (12000000, 15499000),
    }
    
    salary_list = []
    for i in title_list:
        #title = jobs[i]
        #p = [job[0] for job in jobs.values()]
        #title = np.random.choice(titles, size=1, p=p)[0]
        min_salary = jobs[i][0]
        max_salary = jobs[i][1]
        salary = np.random.randint(min_salary, max_salary)
        salary_list.append(salary)
        
    return salary_list

In [78]:
occu_salary = salary_func(title_rand[:789])
occu_salary

[5874514,
 5961722,
 10421744,
 8113180,
 4528609,
 4249182,
 5754348,
 5343761,
 8138528,
 7317299,
 8712206,
 21853610,
 19375143,
 15841086,
 5614646,
 11561135,
 6314300,
 8661769,
 13013520,
 45421288,
 10314900,
 13246746,
 5658534,
 20691613,
 16936498,
 14289594,
 15507534,
 6320837,
 8055241,
 7757157,
 12923653,
 4243928,
 4812018,
 5449058,
 4457541,
 43815717,
 11303358,
 8491403,
 6858587,
 10074042,
 6092624,
 11691496,
 17349957,
 4923293,
 10550237,
 4236336,
 12593487,
 13932799,
 7386491,
 8763805,
 6621537,
 6243431,
 8143902,
 11313717,
 12161465,
 14960319,
 14115654,
 14801114,
 14996858,
 10163742,
 6665852,
 6313192,
 5391238,
 15408752,
 4971696,
 7246580,
 13279065,
 6688412,
 7134755,
 7574219,
 7707378,
 5181991,
 8187377,
 7636563,
 5395482,
 7827243,
 8135805,
 8357388,
 6259063,
 4882969,
 6970434,
 10771340,
 24522763,
 7447436,
 13572376,
 8900807,
 5291542,
 7196554,
 10178387,
 12008569,
 14964942,
 5112585,
 12181913,
 8310070,
 12594192,
 8513309,
 6759158,
 41345995,
 14179674,
 10729246,
 15590473,
 11835773,
 8153326,
 45914255,
 4588538,
 6743331,
 9519079,
 9434233,
 13626849,
 6942893,
 14623207,
 11017179,
 4490368,
 7124401,
 7503940,
 7689044,
 9706322,
 7854303,
 8309162,
 7502506,
 8044688,
 4000073,
 5397844,
 11630288,
 9330663,
 7044664,
 10041111,
 34520343,
 8496762,
 6906071,
 7093528,
 7949175,
 9097831,
 7479680,
 11303606,
 5088498,
 15183385,
 19165976,
 12516572,
 6557708,
 7530076,
 8482218,
 11054277,
 7906866,
 8180417,
 5778618,
 31808888,
 9732807,
 4628886,
 6896688,
 48321616,
 6037028,
 4171966,
 8331338,
 15338578,
 5686966,
 6305117,
 8003496,
 6345001,
 6601770,
 7699396,
 8758323,
 7886080,
 4255697,
 45108353,
 5026759,
 6934500,
 43258258,
 6354096,
 12156952,
 8588884,
 8471574,
 6690452,
 6201085,
 6399792,
 4310040,
 9219645,
 34750964,
 7613483,
 7316704,
 10553938,
 17075867,
 4179980,
 6785028,
 7511872,
 40639405,
 12355796,
 8425791,
 7537339,
 7680102,
 9180066,
 6842521,
 10651673,
 33094209,
 7762157,
 6591486,
 7471268,
 4715621,
 15138891,
 32241112,
 5505232,
 9594295,
 11087986,
 7359621,
 8331725,
 43929814,
 31048528,
 14829768,
 22791401,
 6670820,
 8103719,
 10244874,
 7559066,
 25673799,
 29400377,
 9378064,
 7864088,
 5834064,
 5327359,
 6310407,
 13602915,
 7105005,
 7817661,
 9830521,
 9866052,
 7934392,
 9396338,
 8366366,
 8298864,
 5598360,
 9097556,
 7860962,
 8083693,
 6089846,
 12044796,
 7549156,
 7041848,
 7323734,
 5525796,
 9293137,
 14335336,
 6256014,
 11947602,
 11874147,
 5069820,
 7925906,
 7556772,
 7185141,
 7132943,
 13846456,
 7634480,
 7228411,
 44863786,
 7877334,
 9080652,
 13480374,
 7746018,
 7026993,
 5919451,
 14837211,
 4262767,
 4975893,
 5390685,
 6736828,
 6438957,
 8383286,
 10758235,
 9855646,
 14091111,
 11963246,
 6507372,
 14368335,
 6927433,
 12225883,
 7234532,
 11947051,
 7682584,
 21920800,
 8813035,
 11718095,
 13110047,
 6823983,
 7705748,
 12224623,
 7546034,
 15369239,
 42197862,
 15720335,
 16732156,
 11581304,
 14821748,
 13715938,
 8687772,
 7978982,
 6092423,
 8399809,
 7042607,
 6964180,
 10074601,
 7126512,
 13931641,
 6548910,
 8094909,
 12615862,
 4060717,
 5950425,
 10916594,
 9050477,
 22414054,
 7048327,
 7399520,
 11375720,
 7297778,
 5461482,
 7394780,
 9454893,
 10093869,
 8252076,
 12255891,
 6498214,
 6947638,
 10296034,
 14209915,
 11685414,
 14087629,
 5692763,
 4688314,
 24872125,
 21607268,
 5903361,
 7505887,
 12352519,
 5897202,
 7467688,
 6014998,
 4971799,
 6416703,
 7171389,
 9587488,
 43574146,
 7713983,
 8809262,
 9404146,
 7949142,
 7455449,
 8061314,
 28521477,
 5888240,
 46607304,
 6557501,
 21386916,
 7589879,
 8220644,
 13102299,
 8779480,
 16687532,
 18552449,
 4931655,
 8966817,
 7000178,
 4024244,
 5129309,
 8417849,
 6955358,
 7544847,
 7230984,
 14365631,
 5809715,
 49838129,
 13118460,
 14510769,
 7405644,
 13785462,
 4860178,
 5340858,
 8694811,
 8870129,
 9550627,
 9023611,
 12430076,
 5802800,
 19499450,
 10732232,
 5194737,
 7452424,
 9202046,
 7368090,
 6634733,
 7489391,
 6837413,
 8615683,
 5393383,
 6697883,
 8079949,
 6602971,
 8146285,
 33660673,
 15112914,
 8428238,
 6552953,
 11597202,
 7556979,
 7182016,
 7394891,
 15407351,
 8503311,
 22702734,
 7148599,
 5150496,
 11762923,
 20764076,
 4830621,
 6619128,
 5405844,
 6748134,
 4532634,
 11140518,
 6936318,
 8230079,
 6185850,
 7971939,
 9064361,
 8058273,
 7737703,
 11740037,
 6734575,
 17721244,
 9667913,
 7149476,
 12861719,
 11431672,
 7715112,
 5635544,
 13855284,
 7027580,
 11135206,
 11768788,
 4922981,
 7361274,
 5507644,
 35208635,
 7945020,
 6749476,
 4057985,
 29127728,
 30357195,
 7248746,
 5420991,
 8513188,
 38876559,
 6037853,
 19394317,
 7781141,
 22983128,
 7107877,
 5352663,
 29605755,
 7787493,
 15425792,
 7335412,
 25629786,
 25489397,
 25620307,
 8228419,
 8066312,
 6637014,
 12114273,
 6635954,
 13105895,
 8266508,
 7314410,
 4999035,
 7123941,
 11195297,
 11334980,
 5561323,
 7124891,
 7386272,
 7822362,
 14958647,
 11914309,
 6626945,
 4343777,
 5861109,
 12861795,
 8396993,
 7174712,
 5812947,
 8127366,
 4910591,
 8115137,
 10715199,
 5188794,
 5784846,
 14437480,
 7207710,
 11961190,
 8910424,
 11451761,
 5319745,
 9970957,
 8003768,
 8096614,
 46883637,
 8434800,
 7935901,
 5152858,
 8497691,
 5107449,
 7311438,
 7976707,
 6346836,
 7891237,
 8709851,
 8432393,
 9581278,
 6619055,
 6591658,
 16654010,
 29563849,
 9997506,
 9582981,
 7544039,
 11571282,
 6820369,
 14869590,
 7551313,
 5020256,
 6790061,
 8125349,
 39938589,
 7267413,
 20544471,
 11923164,
 5485969,
 5494721,
 18550867,
 7436923,
 8145978,
 7722841,
 8792420,
 14961611,
 14708718,
 7476939,
 8329191,
 5445449,
 4123770,
 7996609,
 7700369,
 15104960,
 27088966,
 12103173,
 5855087,
 8014105,
 11258390,
 5887743,
 8600265,
 7627742,
 7753941,
 4472481,
 11060818,
 27064148,
 13465478,
 20837726,
 5563994,
 7155666,
 10951753,
 6084404,
 6460009,
 4524109,
 13839308,
 5145807,
 7675255,
 7270084,
 4456955,
 5651590,
 4387253,
 7319872,
 12657384,
 4720651,
 6362957,
 11768765,
 4482871,
 15618579,
 7814594,
 14836240,
 8069168,
 19319474,
 5915525,
 12777424,
 10191738,
 4816963,
 11847949,
 7783621,
 5853166,
 4743754,
 7786817,
 6591343,
 12463775,
 6921376,
 10844701,
 11653217,
 4468434,
 5697536,
 13593512,
 17262564,
 6736081,
 24280927,
 7532611,
 5734233,
 18916075,
 27894481,
 5330314,
 6884213,
 7142568,
 7609307,
 8231878,
 12947605,
 11987118,
 25296607,
 17834350,
 7542999,
 5099583,
 8284266,
 11146936,
 7561888,
 15450691,
 7144905,
 4937825,
 7331610,
 16389957,
 4765585,
 10762629,
 7229944,
 9834217,
 12879301,
 8278468,
 9484822,
 5620709,
 4954953,
 13546685,
 8307984,
 7391887,
 5142494,
 5623497,
 13041306,
 7757707,
 7899084,
 8483389,
 11801547,
 9311520,
 5096144,
 10281598,
 9457780,
 7210025,
 4248384,
 30638985,
 7845902,
 24534200,
 7488242,
 6470024,
 11862120,
 9400100,
 11635755,
 10904822,
 8663284,
 5196626,
 6490844,
 7048011,
 7587210,
 6107716,
 8001139,
 8255955,
 6675577,
 10423499,
 6627949,
 8012834,
 4061537,
 14593327,
 7389612,
 12068346,
 9738474,
 6305591,
 15734338,
 14725221,
 5915473,
 4316892,
 6941677,
 5792595,
 30759074,
 6319948,
 7995894,
 7414374,
 8046825,
 13038154,
 7773731,
 9594452,
 9358074,
 8220750,
 10063639,
 10667996,
 7317153,
 8295489,
 11403291,
 8161311,
 11127623,
 26225437,
 10467541,
 7445885,
 9816903,
 42795691,
 24996963,
 44158505,
 38766545,
 8440512,
 13260213,
 5723577,
 11427400,
 7424569,
 7190310,
 32899999,
 4536406,
 6894594,
 10815399,
 14954809,
 6671776,
 7330313,
 16822272,
 9439987,
 14893797,
 5519755,
 6984848,
 5357239,
 4057512,
 7074706,
 13803368,
 11642460,
 5300457,
 33322526,
 6488285,
 6074686,
 7921518,
 6955374,
 11040817,
 15460869,
 7955205,
 4305622,
 4472050,
 11583308,
 6529039,
 7043309,
 8244007,
 7273700,
 9850610,
 13650169,
 4117141,
 7145645,
 4783739,
 9623256,
 49003620,
 10017420,
 12648093,
 5780799,
 7721520,
 7660089,
 4089684,
 5441597,
 11577161,
 7267273,
 24102639,
 48113731,
 15444662,
 7384996,
 6802682,
 7214166,
 10302855,
 8222904,
 4437645,
 8609087,
 14704446,
 4814979,
 7744332,
 30531893,
 12959632,
 10072895,
 31113351,
 6760049,
 8480934,
 9205854]

In [79]:
df_occu['income'] = occu_salary
df_occu

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\1633251115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_occu['income'] = occu_salary

,res_id,age,work_field,occupation,title,income
0,202203A1401484221,31,pengolahan industri,pegawai BUMN,staff,5874514
1,202203B1902780908,30,Administasi dan manajemen,pegawai BUMN,staff,5961722
2,202303C1201119547,39,teknologi dan informasi,pegawai BUMN,spv,10421744
3,202403D302160049,30,teknologi dan informasi,wirausaha,leader,8113180
4,202203C101563316,25,otomotif,karyawan swasta,staff,4528609
...,...,...,...,...,...,...
784,202306C601771793,35,pengolahan industri,karyawan swasta,spv,10072895
785,202206F1501125594,44,hukum,karyawan swasta,direktur,31113351
786,202306A1001204032,25,perdagangan umum,wirausaha,leader,6760049
787,202206B1401296048,27,pengolahan industri,wirausaha,leader,8480934
788,202306D1402203158,40,Administasi dan manajemen,pegawai BUMN,spv,9205854

In [80]:
# job location 
occu_loc = ['Jakarta Selatan', 'Jakarta Barat', 'Jakarta Utara', 'Jakarta Pusat', 
            'Jakarta Timur','Tangerang', 'Tangerang Selatan', 'Kab Tengerang', 
            'Bekasi', 'Kabupaten Bekasi']

occu_loc_rand = []

for i in range(789):
    occu_loc_rand.append(random.choice(occu_loc))

occu_loc_rand

['Tangerang Selatan',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Bekasi',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Jakarta Barat',
 'Jakarta Barat',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Jakarta Timur',
 'Jakarta Barat',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Tangerang',
 'Tangerang',
 'Bekasi',
 'Jakarta Utara',
 'Bekasi',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Jakarta Utara',
 'Jakarta Barat',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Barat',
 'Jakarta Timur',
 'Bekasi',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Barat',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang',
 'Jakarta Barat',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Barat',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Bekasi',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Bekasi',
 'Jakarta Pusat',
 'Bekasi',
 'Kab Tengerang',
 'Kab Tengerang',
 'Jakarta Timur',
 'Tangerang',
 'Jakarta Selatan',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Timur',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Tangerang',
 'Jakarta Timur',
 'Kab Tengerang',
 'Tangerang',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Bekasi',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Jakarta Timur',
 'Tangerang',
 'Jakarta Selatan',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Tangerang',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Barat',
 'Kab Tengerang',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Bekasi',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Selatan',
 'Bekasi',
 'Kab Tengerang',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Jakarta Selatan',
 'Tangerang',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Bekasi',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Tangerang',
 'Jakarta Barat',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Timur',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Barat',
 'Tangerang',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Kab Tengerang',
 'Tangerang',
 'Kab Tengerang',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Bekasi',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kab Tengerang',
 'Bekasi',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang',
 'Jakarta Selatan',
 'Tangerang',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Jakarta Timur',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Tangerang',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Utara',
 'Tangerang',
 'Jakarta Selatan',
 'Tangerang',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Timur',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Bekasi',
 'Tangerang',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Utara',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Tangerang',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Timur',
 'Jakarta Utara',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Barat',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Bekasi',
 'Jakarta Barat',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Tangerang',
 'Kab Tengerang',
 'Tangerang',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kab Tengerang',
 'Bekasi',
 'Jakarta Utara',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Tangerang',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Barat',
 'Kab Tengerang',
 'Jakarta Timur',
 'Jakarta Timur',
 'Tangerang',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Jakarta Timur',
 'Tangerang',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Kab Tengerang',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Selatan',
 'Jakarta Pusat',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Barat',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Barat',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Utara',
 'Tangerang',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Bekasi',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Tangerang',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Tangerang',
 'Jakarta Utara',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Jakarta Barat',
 'Bekasi',
 'Jakarta Barat',
 'Kab Tengerang',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Utara',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Kab Tengerang',
 'Kab Tengerang',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Selatan',
 'Bekasi',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Jakarta Selatan',
 'Bekasi',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Timur',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Kab Tengerang',
 'Tangerang',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Bekasi',
 'Tangerang',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Kab Tengerang',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Selatan',
 'Jakarta Selatan',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Tangerang',
 'Bekasi',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Tangerang',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Barat',
 'Jakarta Barat',
 'Jakarta Timur',
 'Jakarta Utara',
 'Kab Tengerang',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Bekasi',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Timur',
 'Bekasi',
 'Kabupaten Bekasi',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Utara',
 'Tangerang',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang',
 'Jakarta Barat',
 'Jakarta Timur',
 'Bekasi',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Bekasi',
 'Kab Tengerang',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Kab Tengerang',
 'Jakarta Utara',
 'Bekasi',
 'Bekasi',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Jakarta Timur',
 'Tangerang Selatan',
 'Jakarta Utara',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Timur',
 'Jakarta Timur',
 'Bekasi',
 'Kab Tengerang',
 'Bekasi',
 'Jakarta Pusat',
 'Tangerang',
 'Jakarta Barat',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Bekasi',
 'Kab Tengerang',
 'Kab Tengerang',
 'Jakarta Barat',
 'Tangerang',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Bekasi',
 'Kab Tengerang',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Kab Tengerang',
 'Jakarta Barat',
 'Tangerang',
 'Tangerang',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Kabupaten Bekasi',
 'Jakarta Selatan',
 'Tangerang',
 'Jakarta Utara',
 'Jakarta Barat',
 'Bekasi',
 'Jakarta Pusat',
 'Kab Tengerang',
 'Jakarta Timur',
 'Kab Tengerang',
 'Kab Tengerang',
 'Jakarta Utara',
 'Jakarta Pusat',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Bekasi',
 'Bekasi',
 'Tangerang',
 'Jakarta Selatan',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Tangerang',
 'Tangerang',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Jakarta Utara',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Timur',
 'Bekasi',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Jakarta Barat',
 'Jakarta Timur',
 'Tangerang',
 'Tangerang',
 'Bekasi',
 'Tangerang',
 'Jakarta Timur',
 'Tangerang',
 'Tangerang Selatan',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Timur',
 'Jakarta Utara',
 'Bekasi',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Jakarta Barat',
 'Tangerang',
 'Tangerang Selatan',
 'Jakarta Pusat',
 'Kabupaten Bekasi',
 'Jakarta Pusat',
 'Jakarta Selatan',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang',
 'Bekasi',
 'Jakarta Pusat',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Barat',
 'Bekasi',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Jakarta Pusat',
 'Bekasi',
 'Jakarta Pusat',
 'Jakarta Timur',
 'Jakarta Barat',
 'Tangerang',
 'Jakarta Timur',
 'Jakarta Timur',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Kab Tengerang',
 'Jakarta Timur',
 'Kabupaten Bekasi',
 'Kab Tengerang',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang Selatan',
 'Tangerang Selatan',
 'Bekasi',
 'Jakarta Pusat',
 'Bekasi',
 'Tangerang',
 'Jakarta Pusat',
 'Tangerang',
 'Tangerang',
 'Kab Tengerang',
 'Jakarta Barat',
 'Jakarta Utara',
 'Jakarta Utara',
 'Jakarta Selatan',
 'Jakarta Selatan',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Tangerang',
 'Jakarta Selatan',
 'Bekasi',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Bekasi',
 'Jakarta Barat',
 'Jakarta Timur',
 'Jakarta Barat',
 'Kabupaten Bekasi',
 'Kabupaten Bekasi',
 'Jakarta Barat',
 'Tangerang Selatan',
 'Jakarta Selatan',
 'Jakarta Barat',
 'Jakarta Selatan',
 'Tangerang Selatan',
 'Tangerang',
 'Bekasi']

In [81]:
df_occu['work_loc'] = occu_loc_rand
df_occu

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\1360824515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_occu['location'] = occu_loc_rand

,res_id,age,work_field,occupation,title,income,location
0,202203A1401484221,31,pengolahan industri,pegawai BUMN,staff,5874514,Tangerang Selatan
1,202203B1902780908,30,Administasi dan manajemen,pegawai BUMN,staff,5961722,Tangerang Selatan
2,202303C1201119547,39,teknologi dan informasi,pegawai BUMN,spv,10421744,Tangerang
3,202403D302160049,30,teknologi dan informasi,wirausaha,leader,8113180,Jakarta Timur
4,202203C101563316,25,otomotif,karyawan swasta,staff,4528609,Jakarta Pusat
...,...,...,...,...,...,...,...
784,202306C601771793,35,pengolahan industri,karyawan swasta,spv,10072895,Jakarta Barat
785,202206F1501125594,44,hukum,karyawan swasta,direktur,31113351,Jakarta Selatan
786,202306A1001204032,25,perdagangan umum,wirausaha,leader,6760049,Tangerang Selatan
787,202206B1401296048,27,pengolahan industri,wirausaha,leader,8480934,Tangerang
788,202306D1402203158,40,Administasi dan manajemen,pegawai BUMN,spv,9205854,Bekasi

In [98]:
occu_dist = [np.random.randint(15, 30), np.random.randint(15, 30), np.random.randint(20, 30),
             np.random.randint(10, 28),np.random.randint(30, 45),np.random.randint(5, 12),
             np.random.randint(8, 12),np.random.randint(10, 20),np.random.randint(25, 30),
             np.random.randint(25, 45)]

In [156]:
# distance to job loc 
occu_dist_rand = []

for i in occu_loc_rand:
    ind = occu_loc.index(i)
    dist = occu_dist[ind]
    occu_dist_rand.append(dist)

occu_dist_rand

[10,
 10,
 8,
 37,
 17,
 26,
 17,
 43,
 37,
 17,
 17,
 8,
 19,
 28,
 43,
 17,
 17,
 28,
 28,
 26,
 37,
 28,
 25,
 28,
 17,
 43,
 19,
 10,
 10,
 37,
 28,
 8,
 19,
 17,
 8,
 8,
 26,
 21,
 26,
 28,
 25,
 10,
 10,
 19,
 21,
 28,
 37,
 10,
 17,
 26,
 8,
 28,
 10,
 10,
 26,
 17,
 21,
 26,
 10,
 25,
 17,
 8,
 28,
 37,
 26,
 10,
 26,
 25,
 43,
 8,
 28,
 28,
 10,
 17,
 43,
 19,
 8,
 28,
 28,
 25,
 21,
 26,
 10,
 10,
 26,
 28,
 21,
 37,
 25,
 43,
 43,
 19,
 43,
 25,
 26,
 21,
 25,
 28,
 26,
 17,
 26,
 19,
 19,
 37,
 8,
 25,
 8,
 10,
 17,
 21,
 43,
 37,
 25,
 10,
 28,
 37,
 26,
 10,
 10,
 37,
 17,
 43,
 25,
 8,
 37,
 19,
 8,
 17,
 10,
 26,
 43,
 43,
 21,
 37,
 25,
 37,
 43,
 21,
 17,
 37,
 8,
 25,
 17,
 17,
 19,
 10,
 26,
 28,
 43,
 19,
 10,
 8,
 19,
 43,
 21,
 25,
 21,
 43,
 28,
 10,
 26,
 10,
 21,
 25,
 10,
 8,
 28,
 19,
 8,
 10,
 21,
 17,
 10,
 28,
 43,
 43,
 25,
 28,
 17,
 26,
 17,
 8,
 25,
 26,
 19,
 8,
 10,
 17,
 17,
 19,
 17,
 25,
 8,
 43,
 43,
 10,
 26,
 10,
 21,
 17,
 26,
 25,
 21,
 10,
 19,
 26,
 43,
 17,
 8,
 37,
 10,
 25,
 8,
 28,
 19,
 43,
 19,
 10,
 43,
 8,
 37,
 28,
 43,
 8,
 10,
 28,
 28,
 8,
 43,
 8,
 37,
 19,
 28,
 10,
 19,
 21,
 25,
 19,
 8,
 19,
 26,
 37,
 37,
 10,
 43,
 10,
 43,
 26,
 21,
 21,
 25,
 21,
 25,
 26,
 43,
 37,
 19,
 26,
 26,
 10,
 8,
 17,
 26,
 8,
 25,
 8,
 21,
 21,
 17,
 37,
 21,
 37,
 28,
 43,
 8,
 37,
 43,
 26,
 37,
 17,
 8,
 43,
 25,
 37,
 19,
 21,
 8,
 25,
 8,
 43,
 43,
 37,
 37,
 37,
 25,
 8,
 19,
 25,
 43,
 10,
 8,
 21,
 10,
 17,
 17,
 21,
 26,
 8,
 43,
 37,
 21,
 28,
 10,
 8,
 10,
 17,
 8,
 43,
 37,
 37,
 21,
 26,
 43,
 28,
 43,
 10,
 26,
 25,
 37,
 10,
 26,
 28,
 19,
 43,
 26,
 28,
 21,
 21,
 25,
 8,
 19,
 8,
 25,
 21,
 25,
 43,
 37,
 25,
 26,
 43,
 37,
 19,
 26,
 21,
 26,
 43,
 25,
 8,
 21,
 43,
 19,
 17,
 43,
 37,
 19,
 28,
 19,
 37,
 37,
 8,
 19,
 43,
 28,
 37,
 43,
 17,
 43,
 17,
 10,
 37,
 43,
 8,
 17,
 43,
 37,
 43,
 37,
 43,
 25,
 37,
 43,
 19,
 10,
 10,
 43,
 21,
 21,
 10,
 10,
 37,
 8,
 21,
 37,
 17,
 43,
 28,
 19,
 19,
 17,
 17,
 25,
 28,
 10,
 28,
 25,
 21,
 17,
 8,
 25,
 17,
 37,
 43,
 17,
 43,
 10,
 43,
 25,
 21,
 28,
 26,
 37,
 28,
 8,
 19,
 21,
 8,
 26,
 10,
 21,
 37,
 37,
 43,
 19,
 8,
 26,
 10,
 28,
 17,
 26,
 10,
 10,
 43,
 19,
 37,
 19,
 17,
 26,
 19,
 43,
 25,
 8,
 19,
 43,
 19,
 8,
 21,
 21,
 10,
 43,
 28,
 17,
 8,
 37,
 43,
 37,
 28,
 10,
 43,
 43,
 37,
 43,
 17,
 28,
 26,
 28,
 19,
 8,
 19,
 21,
 19,
 17,
 19,
 19,
 21,
 10,
 17,
 8,
 25,
 26,
 25,
 43,
 21,
 21,
 37,
 17,
 17,
 21,
 28,
 43,
 19,
 25,
 26,
 21,
 17,
 10,
 37,
 10,
 8,
 25,
 21,
 21,
 43,
 21,
 37,
 8,
 10,
 17,
 21,
 43,
 17,
 19,
 8,
 21,
 10,
 26,
 8,
 43,
 43,
 10,
 19,
 10,
 25,
 19,
 25,
 28,
 43,
 21,
 25,
 25,
 25,
 25,
 21,
 8,
 26,
 28,
 43,
 10,
 17,
 10,
 21,
 43,
 8,
 43,
 19,
 43,
 10,
 17,
 17,
 21,
 21,
 37,
 19,
 28,
 28,
 37,
 21,
 19,
 28,
 10,
 26,
 43,
 8,
 37,
 26,
 43,
 10,
 28,
 21,
 8,
 10,
 19,
 26,
 10,
 8,
 28,
 37,
 26,
 21,
 21,
 25,
 17,
 10,
 26,
 19,
 28,
 25,
 37,
 19,
 21,
 26,
 26,
 10,
 28,
 37,
 10,
 21,
 26,
 37,
 37,
 37,
 26,
 19,
 26,
 17,
 8,
 28,
 37,
 17,
 28,
 17,
 26,
 19,
 19,
 28,
 8,
 10,
 19,
 25,
 10,
 25,
 26,
 19,
 37,
 25,
 19,
 28,
 8,
 8,
 21,
 17,
 10,
 19,
 43,
 25,
 21,
 43,
 26,
 43,
 37,
 17,
 21,
 17,
 21,
 43,
 25,
 8,
 21,
 28,
 26,
 17,
 19,
 37,
 19,
 19,
 21,
 17,
 28,
 25,
 26,
 26,
 8,
 25,
 21,
 25,
 8,
 8,
 43,
 17,
 21,
 10,
 26,
 37,
 26,
 8,
 19,
 37,
 25,
 37,
 28,
 37,
 8,
 8,
 26,
 8,
 37,
 8,
 10,
 8,
 19,
 25,
 10,
 10,
 26,
 37,
 21,
 26,
 28,
 10,
 28,
 8,
 10,
 17,
 43,
 17,
 25,
 17,
 26,
 8,
 26,
 17,
 8,
 19,
 28,
 26,
 19,
 17,
 17,
 26,
 17,
 37,
 28,
 8,
 37,
 37,
 25,
 10,
 19,
 37,
 43,
 19,
 17,
 26,
 10,
 10,
 26,
 17,
 26,
 8,
 17,
 8,
 8,
 19,
 28,
 21,
 21,
 25,
 25,
 43,
 43,
 8,
 25,
 26,
 25,
 10,
 25,
 26,
 28,
 37,
 28,
 43,
 43,
 28,
 10,
 25,
 28,
 25,
 10,
 8,
 26]

In [157]:
df_occu['work_dist'] = occu_dist_rand
df_occu

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\2723480078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_occu['work_dist'] = occu_dist_rand

,res_id,age,work_field,occupation,title,income,location,work_dist
0,202203A1401484221,31,pengolahan industri,pegawai BUMN,staff,5874514,Tangerang Selatan,10
1,202203B1902780908,30,Administasi dan manajemen,pegawai BUMN,staff,5961722,Tangerang Selatan,10
2,202303C1201119547,39,teknologi dan informasi,pegawai BUMN,spv,10421744,Tangerang,8
3,202403D302160049,30,teknologi dan informasi,wirausaha,leader,8113180,Jakarta Timur,37
4,202203C101563316,25,otomotif,karyawan swasta,staff,4528609,Jakarta Pusat,17
...,...,...,...,...,...,...,...,...
784,202306C601771793,35,pengolahan industri,karyawan swasta,spv,10072895,Jakarta Barat,28
785,202206F1501125594,44,hukum,karyawan swasta,direktur,31113351,Jakarta Selatan,25
786,202306A1001204032,25,perdagangan umum,wirausaha,leader,6760049,Tangerang Selatan,10
787,202206B1401296048,27,pengolahan industri,wirausaha,leader,8480934,Tangerang,8
788,202306D1402203158,40,Administasi dan manajemen,pegawai BUMN,spv,9205854,Bekasi,26

In [193]:
work_by = ['mobil', 'motor', 'transport umum']
print(work_by[0:3:2])

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#print(List[3:9:2])

['mobil', 'transport umum']

In [195]:
#adding work by 
work_by = ['mobil', 'motor', 'transport umum']
work_by_rand = []

for i, j in zip(df_hh['has_motorcycle'], df_hh['has_car']):
    if i == 'yes' and j == 'yes':
        work_by_rand.append(random.choice(work_by))
    
    elif i == 'yes' and j == 'no':
        work_by_rand.append(random.choice(work_by[:2]))
    
    elif i == 'no' and j == 'yes':
        work_by_rand.append(random.choice(work_by[0:3:2]))
    else:
        work_by_rand.append('transportasi umum')
        
        
work_by_rand

['mobil',
 'transportasi umum',
 'motor',
 'transport umum',
 'motor',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'motor',
 'motor',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'motor',
 'transport umum',
 'mobil',
 'mobil',
 'motor',
 'mobil',
 'motor',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'motor',
 'mobil',
 'motor',
 'motor',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'motor',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'motor',
 'motor',
 'motor',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'motor',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'mobil',
 'transport umum',
 'motor',
 'motor',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'motor',
 'transport umum',
 'mobil',
 'transport umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'motor',
 'transport umum',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'mobil',
 'transport umum',
 'transport umum',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'motor',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transport umum',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'motor',
 'transport umum',
 'motor',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'motor',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transport umum',
 'motor',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'transport umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'mobil',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'transportasi umum',
 'motor',
 'motor',
 'transport umum',
 'transport umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'mobil',
 'transport umum',
 'motor',
 'motor',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'transport umum',
 'mobil',
 'mobil',
 'motor',
 'mobil',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'transport umum',
 'motor',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transport umum',
 'motor',
 'transportasi umum',
 'mobil',
 'motor',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'motor',
 'mobil',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'transport umum',
 'mobil',
 'motor',
 'mobil',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'motor',
 'mobil',
 'motor',
 'transport umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'transport umum',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'motor',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'motor',
 'mobil',
 'mobil',
 'transport umum',
 'mobil',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'mobil',
 'motor',
 'transportasi umum',
 'transport umum',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'motor',
 'mobil',
 'mobil',
 'motor',
 'motor',
 'transportasi umum',
 'transport umum',
 'motor',
 'mobil',
 'transport umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'transport umum',
 'motor',
 'mobil',
 'transport umum',
 'motor',
 'transportasi umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'motor',
 'mobil',
 'mobil',
 'transportasi umum',
 'motor',
 'transport umum',
 'transportasi umum',
 'mobil',
 'transport umum',
 'mobil',
 'transportasi umum',
 'mobil',
 'mobil',
 'mobil',
 'mobil',
 'transport umum',
 'mobil',
 'transportasi umum',
 'motor',
 'mobil',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'mobil',
 'motor',
 'motor',
 'transport umum',
 'mobil',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'motor',
 'transport umum',
 'motor',
 'mobil',
 'transportasi umum',
 'motor',
 'motor',
 'transportasi umum',
 'transport umum',
 'motor',
 'mobil',
 'transport umum',
 'motor',
 'mobil',
 'transport umum',
 'transportasi umum',
 'motor',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'motor',
 'transport umum',
 'mobil',
 'transport umum',
 'motor',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'mobil',
 'transport umum',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil',
 'transport umum',
 'transport umum',
 'mobil',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'transportasi umum',
 'motor',
 'transport umum',
 'mobil',
 'transport umum',
 'transport umum',
 'mobil',
 'motor',
 'transportasi umum',
 'mobil',
 'motor',
 'transport umum',
 'transportasi umum',
 'transportasi umum',
 'motor',
 'mobil',
 'mobil',
 'transport umum',
 'motor',
 'mobil',
 'mobil',
 'motor',
 'transportasi umum',
 'transport umum',
 'transport umum',
 'motor',
 'transport umum',
 'transportasi umum',
 'motor',
 'mobil',
 'transportasi umum',
 'mobil',
 'transportasi umum',
 'transport umum',
 'mobil',
 'mobil']

In [197]:
df_occu['work_by'] = work_by_rand
df_occu

,res_id,age,work_field,occupation,title,income,location,work_dist,work_by
0,202203A1401484221,31,pengolahan industri,pegawai BUMN,staff,5874514,Tangerang Selatan,10,mobil
1,202203B1902780908,30,Administasi dan manajemen,pegawai BUMN,staff,5961722,Tangerang Selatan,10,transportasi umum
2,202303C1201119547,39,teknologi dan informasi,pegawai BUMN,spv,10421744,Tangerang,8,motor
3,202403D302160049,30,teknologi dan informasi,wirausaha,leader,8113180,Jakarta Timur,37,transport umum
4,202203C101563316,25,otomotif,karyawan swasta,staff,4528609,Jakarta Pusat,17,motor
...,...,...,...,...,...,...,...,...,...
784,202306C601771793,35,pengolahan industri,karyawan swasta,spv,10072895,Jakarta Barat,28,mobil
785,202206F1501125594,44,hukum,karyawan swasta,direktur,31113351,Jakarta Selatan,25,transportasi umum
786,202306A1001204032,25,perdagangan umum,wirausaha,leader,6760049,Tangerang Selatan,10,transport umum
787,202206B1401296048,27,pengolahan industri,wirausaha,leader,8480934,Tangerang,8,mobil
788,202306D1402203158,40,Administasi dan manajemen,pegawai BUMN,spv,9205854,Bekasi,26,mobil

In [205]:
df_occu.to_csv('df_occupation.csv', index=False)

In [112]:
#create house_hold data
df_hh = df_info[['res_id', 'age', 'marital_status']]
df_hh

                res_id  age marital_status
0    202203A1401484221   31          kawin
1    202203B1902780908   30          kawin
2    202303C1201119547   39     cerai mati
3     202403D302160049   30          kawin
4     202203C101563316   25    belum kawin
..                 ...  ...            ...
784   202306C601771793   35          kawin
785  202206F1501125594   44          kawin
786  202306A1001204032   25    belum kawin
787  202206B1401296048   27    belum kawin
788  202306D1402203158   40          kawin

[789 rows x 3 columns]

In [136]:
child = np.random.randint(1,2)
child_num = []

for i in df_hh['marital_status']:
    if i == 'belum kawin':
        child_num.append(0)
    else:
        child_num.append(np.random.randint(1,2))

child_num

[1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1]

In [137]:
df_hh['child_num'] = child_num
df_hh

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\2350549191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hh['child_num'] = child_num

,res_id,age,marital_status,child_num,has_motorcycle,has_car,use_internet
0,202203A1401484221,31,kawin,1,yes,yes,yes
1,202203B1902780908,30,kawin,1,no,no,yes
2,202303C1201119547,39,cerai mati,1,yes,no,yes
3,202403D302160049,30,kawin,1,yes,yes,yes
4,202203C101563316,25,belum kawin,0,yes,yes,yes
...,...,...,...,...,...,...,...
784,202306C601771793,35,kawin,1,yes,no,yes
785,202206F1501125594,44,kawin,1,no,no,no
786,202306A1001204032,25,belum kawin,0,no,yes,yes
787,202206B1401296048,27,belum kawin,0,yes,yes,yes
788,202306D1402203158,40,kawin,1,yes,no,yes

In [119]:
has = ['yes', 'no']
has_motorcycle = []
has_car = []
for i in range (789):
    has_motorcycle.append(random.choice(has)) 
    has_car.append(random.choice(has))

In [124]:
len(has_motorcycle)

789

In [126]:
df_hh['has_motorcycle'] = has_motorcycle
df_hh

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\3747885288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hh['has_motorcycle'] = has_motorcycle

                res_id  age marital_status  child_num has_motorcycle
0    202203A1401484221   31          kawin          1            yes
1    202203B1902780908   30          kawin          1             no
2    202303C1201119547   39     cerai mati          1            yes
3     202403D302160049   30          kawin          1            yes
4     202203C101563316   25    belum kawin          0            yes
..                 ...  ...            ...        ...            ...
784   202306C601771793   35          kawin          1            yes
785  202206F1501125594   44          kawin          1             no
786  202306A1001204032   25    belum kawin          0             no
787  202206B1401296048   27    belum kawin          0            yes
788  202306D1402203158   40          kawin          1            yes

[789 rows x 5 columns]

In [127]:
df_hh['has_car'] = has_car
df_hh

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\2105746632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hh['has_car'] = has_car

                res_id  age marital_status  child_num has_motorcycle has_car
0    202203A1401484221   31          kawin          1            yes     yes
1    202203B1902780908   30          kawin          1             no      no
2    202303C1201119547   39     cerai mati          1            yes      no
3     202403D302160049   30          kawin          1            yes     yes
4     202203C101563316   25    belum kawin          0            yes     yes
..                 ...  ...            ...        ...            ...     ...
784   202306C601771793   35          kawin          1            yes      no
785  202206F1501125594   44          kawin          1             no      no
786  202306A1001204032   25    belum kawin          0             no     yes
787  202206B1401296048   27    belum kawin          0            yes     yes
788  202306D1402203158   40          kawin          1            yes      no

[789 rows x 6 columns]

In [130]:
#adding use internet 
use_internet = random.choices(has,[734, 55], k=789)
use_internet

['yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes']

In [131]:
df_hh['use_internet'] = use_internet
df_hh

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\3944076589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hh['use_internet'] = use_internet

,res_id,age,marital_status,child_num,has_motorcycle,has_car,use_internet
0,202203A1401484221,31,kawin,1,yes,yes,yes
1,202203B1902780908,30,kawin,1,no,no,yes
2,202303C1201119547,39,cerai mati,1,yes,no,yes
3,202403D302160049,30,kawin,1,yes,yes,yes
4,202203C101563316,25,belum kawin,0,yes,yes,yes
...,...,...,...,...,...,...,...
784,202306C601771793,35,kawin,1,yes,no,yes
785,202206F1501125594,44,kawin,1,no,no,no
786,202306A1001204032,25,belum kawin,0,no,yes,yes
787,202206B1401296048,27,belum kawin,0,yes,yes,yes
788,202306D1402203158,40,kawin,1,yes,no,yes

In [153]:
# adding household outcome / expense 
expense = []
for i in df_occu['income']:
    exp = int(i*(np.random.uniform(0.5,0.85)))
    expense.append(exp)

expense

[3382228,
 3002143,
 7989804,
 6156100,
 3433073,
 2982224,
 4761760,
 3045985,
 4493949,
 4237735,
 5228629,
 13198422,
 10633636,
 12003344,
 3438090,
 6790343,
 4626678,
 6514400,
 8830220,
 33612158,
 6638849,
 6671255,
 3247349,
 17533409,
 9854863,
 9036859,
 12440697,
 4247278,
 6194137,
 4272101,
 9603153,
 2367238,
 3785302,
 3844881,
 2835185,
 35867216,
 8492981,
 6696079,
 3553045,
 5670233,
 5050852,
 9287971,
 10208264,
 3253040,
 7102064,
 2925877,
 8928424,
 7107082,
 6025897,
 4536914,
 3670342,
 4130506,
 6469480,
 8372890,
 8001966,
 10887881,
 9583842,
 12181517,
 10611369,
 6392298,
 4118864,
 4052060,
 4384742,
 9939190,
 2546684,
 5365512,
 10732727,
 4327572,
 5709268,
 5587810,
 6256450,
 3920967,
 6785961,
 5590788,
 3656578,
 4491424,
 6703837,
 4787163,
 4001219,
 3767546,
 3639287,
 8973844,
 18630130,
 4246946,
 8831625,
 6872737,
 3455264,
 3778307,
 6159166,
 7817219,
 8460549,
 3753416,
 7078743,
 6389968,
 7038808,
 6486429,
 5683688,
 21715021,
 8736262,
 6217259,
 8160800,
 8271315,
 4830923,
 38563517,
 2807382,
 4463893,
 6117756,
 6315879,
 7925152,
 4850521,
 12303575,
 8889951,
 3154287,
 3948035,
 3817449,
 5674330,
 5715237,
 4400089,
 5744717,
 5622246,
 6268306,
 2481667,
 3935239,
 9437592,
 6291399,
 5849566,
 7099502,
 25416260,
 6899023,
 3588278,
 3682820,
 4578437,
 4630545,
 4056708,
 6904373,
 3857652,
 8545000,
 10722552,
 7257714,
 4932089,
 4881102,
 4950707,
 8394674,
 5973173,
 5296211,
 3163305,
 17142052,
 5598373,
 3458861,
 4966567,
 39477905,
 3178556,
 2329327,
 6838167,
 11185372,
 4708779,
 4475870,
 5276491,
 3455476,
 5393868,
 4369539,
 4941900,
 4090501,
 2639185,
 29895574,
 3494021,
 5494270,
 26492797,
 5011816,
 7844667,
 4692927,
 5516715,
 4429482,
 3770059,
 4959604,
 2569389,
 5729048,
 22363273,
 6162593,
 5056519,
 7019247,
 8923518,
 3495875,
 5021612,
 4349980,
 25937584,
 7130098,
 4816735,
 5497119,
 4736607,
 6662843,
 4563580,
 6282786,
 16596053,
 5072617,
 3774853,
 4016357,
 2562351,
 7917123,
 21201655,
 3219834,
 5710398,
 8786370,
 4778699,
 6447569,
 22062671,
 19259942,
 8179314,
 16192322,
 5281485,
 4349486,
 6836113,
 6073517,
 21214787,
 21969154,
 6283660,
 5698410,
 4173912,
 4361133,
 4915905,
 9703792,
 5598223,
 4292491,
 6847739,
 4974395,
 4372485,
 7234205,
 5673284,
 4751296,
 3454118,
 7644516,
 4075311,
 5467079,
 4331523,
 9437624,
 6373519,
 5518929,
 4783742,
 4486123,
 6070072,
 9688211,
 4266402,
 8516938,
 8428722,
 3009764,
 5852894,
 3957498,
 4989992,
 4691785,
 10337461,
 4264226,
 4928979,
 35819219,
 5666288,
 6244936,
 11318430,
 6069525,
 5210016,
 3071037,
 11066066,
 3090158,
 3735673,
 4191118,
 4951265,
 3226862,
 6425805,
 7184002,
 6454009,
 7570420,
 8530333,
 4729266,
 11028024,
 3666715,
 10036724,
 4896305,
 6994429,
 4725712,
 15013700,
 7286283,
 6992966,
 10443010,
 4023224,
 5758830,
 10120039,
 4169286,
 12457148,
 31911929,
 8073705,
 13729271,
 6448581,
 8532626,
 7294102,
 6886982,
 4932454,
 4646885,
 6280361,
 4925168,
 4032382,
 7229358,
 4064115,
 11488608,
 5093736,
 5615566,
 7688595,
 2212122,
 5018001,
 8465194,
 4904016,
 16474848,
 5717227,
 4971098,
 8831927,
 3696892,
 4445785,
 4093175,
 4809290,
 5624146,
 4771764,
 10305573,
 3720593,
 3640216,
 7297854,
 9222249,
 8913215,
 7264712,
 3480325,
 2478618,
 16202064,
 17010878,
 3480769,
 5062984,
 7866790,
 3201696,
 4654889,
 3349173,
 3775953,
 4260802,
 4786474,
 4955848,
 32830889,
 6169057,
 6734285,
 5671289,
 6373757,
 4199261,
 6320973,
 20263629,
 4992114,
 32468579,
 5518982,
 14897241,
 6449558,
 6956587,
 7082726,
 6950130,
 8905074,
 14046786,
 3938568,
 4670261,
 5394832,
 3213660,
 2658520,
 4985961,
 4374021,
 6384343,
 3690339,
 9561348,
 3420715,
 34360657,
 7684562,
 11253917,
 3878790,
 8525347,
 3200544,
 2928161,
 5431372,
 5434170,
 5498746,
 6850582,
 7591733,
 4039995,
 11032215,
 7480736,
 3164165,
 6146052,
 6434978,
 4407944,
 5147580,
 5314616,
 4488090,
 7081674,
 3194410,
 4681486,
 4952652,
 3661239,
 6243171,
 17852513,
 9144699,
 6088133,
 4569889,
 8584416,
 4117743,
 4149911,
 4065314,
 8306359,
 6323014,
 16363385,
 5527508,
 3077110,
 7882266,
 14756824,
 2753586,
 3812206,
 2704482,
 5625433,
 3755832,
 6291657,
 5744196,
 6769953,
 4519365,
 5811927,
 4853296,
 5896791,
 4049857,
 7060423,
 5590062,
 13748648,
 6063541,
 5602451,
 9176761,
 8398532,
 6035257,
 2952226,
 8021693,
 5476330,
 6820972,
 8018855,
 2929095,
 4864011,
 3430320,
 20965385,
 6141122,
 4157264,
 3372122,
 14623422,
 22591122,
 3763871,
 2770741,
 5886722,
 27872828,
 3501317,
 9755632,
 5305662,
 17661475,
 4927500,
 3063253,
 21547683,
 6117633,
 7779902,
 3895748,
 21530635,
 21198324,
 17649353,
 6573663,
 4241598,
 4759240,
 7125778,
 4973398,
 8885299,
 4395803,
 5129140,
 3438198,
 5411536,
 9235998,
 8863380,
 3650704,
 3868175,
 4085497,
 6040791,
 11722022,
 8831955,
 3681951,
 2693144,
 3299745,
 9473890,
 5756598,
 5156199,
 4280167,
 4353948,
 3731761,
 5434092,
 5368573,
 3953740,
 3246961,
 7809346,
 5303908,
 6262845,
 6659190,
 6023516,
 2687857,
 5264301,
 4914460,
 5002821,
 28007861,
 5527807,
 4025506,
 3111428,
 5329929,
 4080252,
 3956008,
 4127265,
 5070590,
 4142400,
 5657829,
 4452908,
 7391376,
 4312620,
 4880858,
 14048451,
 25071075,
 6489440,
 4799467,
 5696601,
 7137939,
 3714374,
 12251150,
 4655010,
 4127748,
 3817169,
 6146336,
 26383640,
 5704439,
 13420808,
 7716332,
 4618372,
 2970018,
 15237178,
 5844886,
 4642075,
 4265396,
 6408031,
 12314012,
 8164478,
 3877967,
 4640611,
 2898997,
 3067954,
 5429316,
 5995144,
 11167479,
 15535366,
 10089732,
 3477782,
 6731447,
 8490457,
 3565290,
 5171592,
 4289945,
 5859957,
 2969282,
 8319117,
 19395082,
 9642000,
 10860004,
 2966800,
 5378571,
 6171221,
 4667967,
 3994639,
 2467818,
 8543530,
 2825715,
 5734454,
 3938400,
 2455397,
 2898221,
 3676556,
 5828267,
 9989959,
 3718640,
 3736570,
 8915117,
 2483460,
 11072606,
 4106589,
 11839703,
 6031623,
 14705705,
 3112473,
 9132065,
 8600377,
 3924149,
 6172245,
 5008665,
 4827446,
 3934098,
 3937966,
 5556633,
 7137182,
 4901534,
 6349192,
 6420305,
 3364269,
 4794249,
 7246641,
 11047496,
 5114819,
 15455177,
 5479181,
 3014345,
 15743993,
 15193798,
 3845778,
 3858940,
 4910774,
 6050016,
 6357684,
 6886072,
 6187349,
 12972017,
 9597232,
 5754486,
 3857339,
 6998765,
 6314746,
 5728225,
 10096878,
 5399640,
 2554448,
 5093857,
 13382030,
 2530855,
 7651806,
 4400163,
 5974676,
 7394756,
 4469773,
 6931536,
 3903047,
 3696715,
 7226894,
 4238106,
 4369604,
 3565391,
 3076082,
 6568602,
 5856752,
 4694463,
 5728152,
 9326965,
 7629369,
 3935284,
 8047327,
 5699376,
 4499046,
 3425050,
 25725120,
 5683542,
 18694885,
 5055037,
 3959165,
 7285094,
 6273613,
 6223741,
 6561534,
 4750148,
 3277791,
 4027305,
 4894437,
 4343898,
 3482506,
 6443994,
 5357111,
 3583246,
 5274108,
 4202007,
 5994526,
 2258411,
 9141439,
 4981192,
 9137510,
 6675668,
 3930977,
 12292231,
 7490371,
 3866099,
 3523553,
 5711393,
 4330995,
 20612937,
 5340977,
 4600896,
 5923109,
 5386555,
 10918524,
 4899574,
 6032737,
 6134056,
 4877432,
 6896594,
 5966749,
 4055762,
 5642599,
 8393899,
 4719154,
 6377635,
 15933546,
 7394934,
 3952964,
 6142388,
 25151007,
 21231932,
 23100297,
 28039012,
 6195410,
 6897788,
 3226641,
 7706011,
 3766087,
 5859442,
 22338122,
 3010022,
 5238263,
 6762117,
 10684558,
 4256537,
 5705581,
 9927822,
 7974108,
 11857237,
 3528203,
 4376234,
 4255357,
 2250565,
 5054561,
 7479325,
 9352171,
 3078497,
 24691862,
 5433962,
 5114260,
 5451207,
 5762918,
 9308336,
 9201842,
 6730502,
 2578764,
 2437954,
 6788942,
 4832904,
 4609183,
 6084521,
 3787301,
 8150298,
 10159366,
 3341397,
 4931935,
 2792718,
 5165308,
 28023246,
 5284503,
 8081676,
 3399267,
 4470190,
 4814883,
 3057648,
 3235964,
 9605817,
 4070576,
 20455503,
 25089180,
 8708221,
 4780628,
 4852821,
 5528503,
 7897672,
 6825364,
 2910347,
 4729378,
 10952949,
 3181061,
 5905671,
 16993154,
 7106284,
 7932275,
 16042661,
 5709868,
 6502167,
 7635204]

In [154]:
df_hh['expense'] = expense
df_hh

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8544\3892513882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hh['expense'] = expense

,res_id,age,marital_status,child_num,has_motorcycle,has_car,use_internet,expense
0,202203A1401484221,31,kawin,1,yes,yes,yes,3382228
1,202203B1902780908,30,kawin,1,no,no,yes,3002143
2,202303C1201119547,39,cerai mati,1,yes,no,yes,7989804
3,202403D302160049,30,kawin,1,yes,yes,yes,6156100
4,202203C101563316,25,belum kawin,0,yes,yes,yes,3433073
...,...,...,...,...,...,...,...,...
784,202306C601771793,35,kawin,1,yes,no,yes,7932275
785,202206F1501125594,44,kawin,1,no,no,no,16042661
786,202306A1001204032,25,belum kawin,0,no,yes,yes,5709868
787,202206B1401296048,27,belum kawin,0,yes,yes,yes,6502167
788,202306D1402203158,40,kawin,1,yes,no,yes,7635204

In [204]:
df_hh.to_csv('df_hh.csv', index=False)

In [200]:
df_resident_blok = pd.read_csv('df_resident_block.csv')
df_resident_blok

                res_id  Cluster Block  year_of_inhabited own_status
0    202203A1401484221    Ancol   A14               2022      Owner
1    202203B1902780908    Ancol   B19               2022       Rent
2    202303C1201119547    Ancol   C12               2023      Owner
3     202403D302160049    Ancol    D3               2024       Rent
4     202203C101563316    Ancol    C1               2022      Owner
..                 ...      ...   ...                ...        ...
784   202306C601771793  Thamrin    C6               2023      Owner
785  202206F1501125594  Thamrin   F15               2022      Owner
786  202306A1001204032  Thamrin   A10               2023      Owner
787  202206B1401296048  Thamrin   B14               2022      Owner
788  202306D1402203158  Thamrin   D14               2023       Rent

[789 rows x 5 columns]

In [203]:
df_resident_blok['own_status']

0      Owner
1       Rent
2      Owner
3       Rent
4      Owner
       ...
784    Owner
785    Owner
786    Owner
787    Owner
788     Rent
Name: own_status, Length: 789, dtype: object